body {
    @include breakpoint(small only) {
        overflow-x: hidden;
    }
}
img {
    @include breakpoint(small only) {
        width: 100%;
    }
}
/*
    CUSTOM
 */
.page-id-15113 {
    .wpcf7-list-item {
        display: block !important;
    }
}
/*
* HEADER
*/
.admin-bar {
    .sticky-menu {
        .main-navigation {
            &.is-stuck {
                top: 32px !important;
            }
        }
    }
}
.mobile-header {
    .top-bar {
        position: relative;
        .top-bar-left {
            width: 70%;
            img {
                width: 100%;
            }
        }
        .top-bar-right {
            text-align: right;
            width: 30%;
            .mobile-nav-button {
                position: absolute;
                height: 2rem;
                right: 1rem;
                top: 0;
                bottom: 0;
                margin: auto 0;
                color: $dark-gray;
                .dashicons {
                    position: relative;
                    top: .6rem;
                    width: 2rem;
                    height: 2rem;
                    font-size: 2rem;
                }
            }
        }
    }
}
.main-header {
    .dark-blue {
    background-color: $third-color;
    }
    .blue {
        background-color: #021C36;
    }
    .light-gray {
        background-color: $back-gray;
    }

    .main-logo {
        display: block;
        margin-top: 1rem;
        width: 278px;
        height: 107px;
        text-indent: -1000rem;
        background-image: url(img/logo.png);
        background-repeat: no-repeat;
    }
    .gob-logo {
        padding-top: 1rem;
        padding-right: 0;
        background-image: url(../img/logo_gob.png);
        background-position: top right;
        background-repeat: no-repeat;
        .searchform {
            .input-group {
                margin-top: 0;
            }
            #s {
                position: relative;
                right: -6.7rem;
                width: 228px;
                background: #F1F1F1;
                border: none;
                box-shadow: none;
                border-radius: 3px 0 0 3px;
                color: #666;
            }
            .button {
                position: relative;
                padding: .75rem 0;
                width: 50px;
                background: $medium-gray;
                color: $dark-gray;
                border-radius: 0 3px 3px 0;
                border: solid 1px #BBB;
                text-align: center;
                z-index: 10;
                color: #666;
                &:hover {
                    background-color: $dark-gray;
                    color: $white;
                }
            }
        }
    }
    .social-media {
        margin-top: .5rem;
        margin-bottom: .5rem;
        display: flex;
        justify-content: flex-end;
        li {
            a {
                color: $dark-gray;
                padding: .5rem .5rem 0 .5rem;
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
    .sticky-container {
        width: 100%;
        background: $third-color;
        z-index: 99;
    }
    .main-navigation {
        width: 100%;
        color: $white;
        background: $third-color;
        .menu-item {
            position: relative;
            padding: .5rem 0;
            border-right: 1px solid darken($primary-color, 10);
            a {
                color: $white;
                text-transform: uppercase;
                font-size: .9rem;
                font-weight: 700;
                padding: .7rem;
                &:hover {
                    color: $white;
                    background-color: #235485;
                }
            }
            &:hover {
                background-color: #235485;
                .sub-menu {
                    display: block;
                }
            }
            .sub-menu {
                display: none;
                position: absolute;
                width: 300px;
                left: -1.3rem;
                top: 3.3rem;
                padding: 0;
                min-width: 12rem;
                background: #F1F1F1;
                border: none;
                z-index: 99;
                list-style-type: none;
                border-radius: 0 0 5px 5px;
                .menu-item {
                    border-right: 0;
                    border-bottom: 1px solid $white;
                    padding: 0;
                    a {
                        display: block;
                        padding: .5rem .8rem;
                        color: $third-color;
                        font-weight: normal;
                        text-transform: none;
                        -webkit-transition: color .2s ease-in-out; 
                        -moz-transition: color .2s ease-in-out;
                        -o-transition: color .2s ease-in-out; 
                        -ms-transition: color .2s ease-in-out; 
                        transition: color .2s ease-in-out;
                        &:hover {
                            background-color: #235485;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
    .auxiliar {
        text-align: right;
        ul {
            display: inline-block;
            margin: 1rem 0 .5rem 0;
            li {
                a {
                    padding-top: .3rem;
                    padding-bottom: .3rem;
                    color: $dark-gray;
                    text-transform: uppercase;
                    font-size: rem-calc(12);
                    border-right: 1px solid $dark-gray;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                &:last-child {
                    a {
                        border-right: none;
                    }
                }
            }
        }
    }
}
/*
// General styles
*/
.home_top {
    margin-top: -1.2rem;
    margin-bottom: 1.5rem;
    .widget-title {
        font-size: rem-calc(16) !important;
        color: $primary-color !important;
        font-family: $title-font !important;
        font-weight: initial !important;
        text-transform: none !important;
    }
}
.dark-blue {
    background-color: $third-color;
}
.blue {
    background-color: #021C36;
}
.light-gray {
    background-color: $back-gray;
}

.home {
    .main-content {
        padding: 3rem 0;
    }
}
.home-sidebars {
    margin-top: 2rem;
    padding: 1.5rem 0;
}
.main-header {
    .logo {
        margin-top: 1.5rem;
    }
}
.inner-space {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}
.remove-top {
    padding-top: 0 !important;
}
.remove-bottom {
    padding-bottom: 0 !important;
}
a {
    &:hover {
        img {
            opacity: .8;
        }
    }
}
.button {
    &.gray {
        @include gray-button;
    }
    &.green {
        @include green-button;
    }
}
.line-button {
    margin: 2rem 0;
    height: 1.3rem;
    border-bottom: 1px solid $light-gray;
    text-align: center;
    .button {
        box-shadow: 5px 5px 0 $white,-5px -5px 0 $white;
    }
}
.main-content {
    padding-top: 1.5rem;
    padding-bottom: 3rem;
    .primary-title {
        @include big-title;
    }
    .secondary-title {
        @include low-title;
    }
    .middle-title {
        @include middle-title;
    }
    .mini-title {
        @include mini-title;
    }
    .all {
        font-family: $title-font-alt;
        color: $dark-gray;
        font-size: rem-calc(14);
        &:hover {
            text-decoration: underline;
        }
    }
    .content-header {
        .entry-meta {
            position: relative;
            min-height: 385px;
            .header-metadata {
                @include vertical-align(absolute);
                @include breakpoint(small only) {
                    padding: 0 .5rem;
                    .entry-title {
                        font-size: 1.8rem;
                    }
                }
            }
            @include breakpoint(small only) {
                height: 18rem;
            }
        }
    }
}
.admin-bar {
    .menu-mobile-container {
        .menu {
            margin-top: 5rem;
        }
        .search-mobile {
            top: 1rem;
        }
        .close {
            top: 3rem;
        }
    }
}
.menu-mobile-container {
    &.closed {
        opacity: 0;
        left: 100%;
    }
    @include coverer;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1;
    background: rgba($black,.85);
    transition: all .8s ease;
    .close {
        position: absolute;
        right: 0;
        top: .5rem;
        color: $light-gray;
        .dashicons {
            font-size: 3rem;
            width: 3rem;
            height: 3rem;
        }
    }
    .search-mobile {
        position: absolute;
        top: -2rem;
        left: 0;
        right: 0;
        width: 60%;
        margin: auto;
        .input-group-field {
            background: rgba($dark-gray,.7);
            color: $light-gray;
            border-top-left-radius: 0 !important;
            border-bottom-left-radius: 0 !important; 
        }
        .button {
            display: none;
        }
    }
    .menu {
        //margin: 3rem 5rem 0 5rem;
        width: 80%;
        height: 73vh;
        overflow-y: auto;
        li {
            padding: .2rem 0;
            margin: .2rem 0;
            border-bottom: 1px solid $dark-gray;
            a {
                position: relative;
                padding-right: 4rem !important;
                color: $medium-gray;
                text-transform: uppercase;
                line-height: 1.2rem;
            }
            &.menu-item-has-children {
                &.opened {
                    a {
                        &:after {
                            content: "\f140";
                        }
                    }
                }
                a {
                    &:after {
                        position: absolute;
                        content: "\f139";
                        font-family: 'Dashicons';
                        color: $white;
                        right: 0;
                        top: .7rem;
                    }
                }
                .sub-menu {
                    display: none;
                    .menu-item {
                        border-bottom: 0;
                        a {
                            text-transform: initial;
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}
.home {
    @include breakpoint(small only) {
        .event-item-in-list {

            &:nth-child(odd) {
                clear: both;
            }
            .widget-body {
                p {
                    a {
                        font-size: .9rem;
                    }
                }
            }
        }
        .mobile-featured-medium {
            .widget-post {
                .widget-header {
                    height: 102px;
                }
                .widget-body {
                    p {
                        text-align: center;
                        a {
                            font-size: .9rem;
                            line-height: .2rem;
                        }
                    }
                }
                .widget-footer {
                    p {
                        text-align: center;
                        font-size: .9rem;
                    }
                }
                .widget-img {
                    height: 102px;
                }
                .category {
                }
                .widget-social {
                    display: none;
                }
            }
        }
    }
}
.home_top {
    @include breakpoint(small only) {
        .large-12 {
            .small-up-1 {
               @include grid-layout(3);
               img {
                width: 100% !important;
               } 
            }
        }
    }
}
.button-container {
    display: flex;
    margin-bottom: 1rem;
    .container-text {
        display: block;
        padding: .5rem;
        background-color: $light-gray;
        font-style: italic;
        color: $dark-gray;
        border-radius: .2rem 0 0 .2rem;
    }
    .button {
        margin-bottom: 0;
        border-radius: 0 .2rem .2rem 0;
    }
}
.entry-document {
    margin-bottom: 2rem;
}
#breadcrumbs {
    margin-top: .5rem;
    margin-bottom: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    font-size: .9rem;
}
.sidebar {
    .side-navigation {
        .nav-title {

            font-size: 1.3rem;
            margin-bottom: 1rem;
            padding-bottom: .5rem;
            border-bottom: 1px solid $light-gray;
        }
        margin-top: 1.2rem;
        ul {
            li {
                a {
                    display: block !important;
                    background-color: $dark-gray;
                    color: $white;
                    font-family: $title-font;
                    font-size: 1.2rem;
                    border-radius: 0;
                    line-height: 1.5rem;
                    &:hover {
                        background-color: $primary-color;
                    }
                }
                &.current_page_item {
                    a {
                        position: relative;
                        background-color: $primary-color;
                        &:after {
                            content: '';
                            position: absolute;
                            right: -12px;
                            top: 0;
                            bottom: 0;
                            margin-top: auto;
                            margin-bottom: auto;
                            width: 0;
                            height: 0;
                            border-style: solid;
                            border-width: 7.5px 0 7.5px 15px;
                            border-color: transparent transparent transparent $primary-color;
                        }
                    }
                }
            }
        }
    }
}
.content-nav {
    margin-bottom: 1rem;
    text-align: center;
    .content-nav-menu {
        &.active {
            .dashicons {
                &:before {
                    content: "\f142";
                }
            }
        }
    }
    .content-nav-mobile-menu {
        display: block !important;
        padding-top: 1rem;
        &.hide {
            display: none !important;
        }
        li {
            padding: .3rem 0;
            margin: .3rem 0;
            border-bottom: 1px solid $light-gray;
        }
    }
    .menu {
        display: inline-block;
        .page_item {
            a {
                font-size: rem-calc(14);
                font-weight: $bold;
                &:hover {
                    text-decoration: underline;
                }
            }
            &.current_page_item {
                a {
                    text-decoration: underline;
                }
            }
        }
    }
}
.single-sidebar {
    .widget {
        margin: 1rem 0;
    }
}
.sidebar {
    padding-left: 3.5rem;
    margin-bottom: 5rem;
    border-left: 1px solid $medium-gray;
    &.sidebar-left {
        padding-left: 0;
        border-left: 0;
    }
    .category-title {
        font-size: rem-calc(20);
        font-family: $title-font;
        font-weight: $bold;
        .dashicons {
            margin-left: -1.8rem;
            width: 1.6rem;
            height: 1.6rem;
            font-size: 1.6rem;
        }
    }
    .themes {
        .vertical {
            li {
                margin-bottom: 0;
                a {
                    @include theme-gray-light;
                }
            }
        }
    }
    .vertical {
        li {
            margin-bottom: .8rem;
            a {
                display: inline-block !important;
                padding: .4rem 1rem;
                border-radius: .3rem;
                font-size: rem-calc(14);
            }
        }
        &.categories {
            a {
                color: $light-gray;
                background: $dark-gray;
                &:hover {
                    background: darken($dark-gray,10);
                }
            }
        }
        &.tags {
            a {
                color: $white;
                background: $medium-gray;
                &:hover {
                    background: darken($medium-gray,10);
                }
                &:before {
                    content: '#';
                }
            }
        }
    }
    @include breakpoint(small only) {
        padding-left: 0 !important;
        border-left: none !important;
        .meta_post {
            .dashicons-tag {
                display: none;
            }
        }
    }
}

.share-buttons {
    margin-bottom: 1.5rem;
    .fb-share {
        position: relative;
        left: .5rem;
    }
    .tw {
        position: relative;
        margin-left: 1rem;
        top: .9rem;
        left: 1rem;
    }
}

.content-header {
    .entry-title {
        font-size: rem-calc(35);
        font-family: $title-font;
        margin-bottom: 2rem;
    }
    .published {
        display: block;
        clear: both;
        font-style: italic;
        font-size: rem-calc(11);
        color: $dark-gray;
    }
}
.std-text {
    margin: 1rem 0 5rem 0;
    font-size: rem-calc(15);
    line-height: rem-calc(25);
    /*Wordpress common*/
    img.alignright { float: right; margin: 0 0 1em 1em; }
    img.alignleft { float: left; margin: 0 1em 1em 0; }
    img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
    .alignright { float: right; }
    .alignleft { float: left; }
    .aligncenter { display: block; margin-left: auto; margin-right: auto; }
    .wp-post-image { margin-bottom: 1rem; }
    @include breakpoint(small only) {
        margin-bottom: 0;
    }
}

.space-top {
    margin-top: 3rem;
}
.divide {
    &.right {
        border-right: 2px solid $dark-gray;
    }
    &.left {
        border-left: 2px solid $dark-gray;
    }
}
.page {
    .entry-image {
        &.default {
            position: relative;
            img {
                width: 100%;
            }
            .content-wrap {
                @include coverer;
                @include gradient-to-none(0,0,0);
                .entry-title {
                    position: absolute;
                    width: 90%;
                    bottom: 1rem;
                    left: 1rem;
                    font-family: $title-font;
                    font-weight: $bold;
                    font-size: rem-calc(35);
                    text-shadow: 0 1px 0 $black;
                    color: $white;
                }
            }
        }
    }
    .content-header {
        .entry-image {
            padding: 0;
            position: relative;
            width: 100%;
            margin-bottom: 1.5rem;
            img {
                width: 100%;
            }
            .content-wrap {
                @include coverer;
                @include gradient-to-none(0,0,0);
                .entry-title {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 90%;
                    height: rem-calc(35);
                    text-align: center;
                    font-weight: $bold;
                    font-size: rem-calc(35);
                    text-shadow: 0 1px 0 $black;
                    color: $white;
                }
            }
        }

    }
    @include breakpoint(small only) {
        .content-header {
            .entry-image {
                .content-wrap {
                    .entry-title {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}
.filter-form {
    .large-2 {
        width: 8% !important;
        padding-right: 0;
        padding-top: .2rem;
    }
    .large-4 {
        padding-left: 0;
    }
    .large-1 {
        padding-left: 0;
    }
    h5 {
        font-family: $title-font;
        font-weight: 300;
        font-size: rem-calc(20);
    }
    .input-type {
        background-color: $light-gray;
        color: $dark-gray;
        border-radius: .2rem;
        box-shadow: 0 0 0;
        font-size: .9rem;
    }
    @include breakpoint(small only) {
        padding: 0 2rem;
        .large-2 {
            width: 100% !important;
            padding-left: 0 !important;
        }
    }
}
.wp-pagenavi {
    margin: 2rem 0;
    font-size: .8rem;
    text-align: center;
    .pages {
        display: none;
    }
    .page, .extend, .last, .first {
        border: 0;
    }
    .nextpostslink, .previouspostslink {
        border: 0;
    }
    .current {
        background: $secondary-color;
        color: $white;
        border-radius: .2rem;
        border: 0;
    }
    a {
        &:hover {
            background: $secondary-color;
            color: $white;
        }
    }
}
.single-gallery {
    .main-content {
        .content-header {
            .entry-meta {
                min-height: 13rem;
            }
        } 
    } 
}
.post-type-archive-gallery {
    .gallery-list {
        h3 {
            padding: 1rem 0;
            font-size: 1.3rem;
            color: $dark-gray;
            text-align: center;
        }
        @include breakpoint(small only) {
            h3 {
                font-size: .9rem;
            }
        }
    }
}
.gallery-list {
    .column {
        margin-bottom: 2rem;
    }
}
.inline-lists {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
    .entry-publication {
        @include grid-row(12);
        .entry-image {
            @include grid-column(4);
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
        .entry-content {
            @include grid-column(8);
            a {
                .entry-title {
                    margin-top: 0;
                    font-family: $title-font;
                    //font-size: rem-calc(18);
                    font-weight: $bold;
                    color: $black;
                    font-size: rem-calc(17);

                }
                &:hover {
                    img {
                        opacity: .8;
                    }
                    .entry-title {
                        color: $primary-color;
                    }
                }
            }
            .categories {
                margin-top: 1rem;
                border-top: 1px solid $light-gray;
                a {
                    font-style: italic;
                    font-size: rem-calc(11);
                    color: $dark-gray;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
.archive, .search {
    .entry-article {
        .entry-image {
            position: relative;
            a { display: block; position: relative;}
            .social {
                display: block;
                position: absolute;
                padding: 0;
                left: .3rem;
                bottom: .3rem;
                background-color: transparent;
                a {
                    display: inline-block;
                    color: $white;
                    margin-right: .5rem;
                    &:hover {
                        color: $medium-gray;
                    }
                }
            }
            .wrap {
                display: block;
                @include coverer;
                @include gradient-to-none(0,0,0);

                .link-entry {
                    color: $white;
                    .dashicons {
                        position: absolute;
                        margin: auto;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        font-size: 1.5rem;
                        width: 1.5rem;
                        height: 1.5rem;
                        text-shadow: 0 1px 0 $black;
                    }
                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
        .social {
                display: block;
                position: static;
                padding: .5rem 1rem;
                background-color: $secondary-color;
                a {
                    display: inline-block;
                    color: $white;
                    margin-right: .5rem;
                    &:hover {
                        color: $medium-gray;
                    }
                }
            }
        .entry-title {
            margin-top: 1rem;
            font-family: $title-font;
            font-weight: $bold;
            font-size: rem-calc(18);
            a {
                color: $black;
                &:hover {
                    color: $medium-gray;
                }
            }
        }
    }
}
.program-info, .send_by_mail {
    .is-invalid-label {
        .form-error {
            display: block;
        }
    }
    .success {
        font-size: .8rem;
        color: darken($success-color,10);
    }
    .alert {
        font-size: .8rem;
        color: $alert-color;
    }
    .lastname-input {
        display: none;
    }
}
/*
// FOOTER
*/

.main-footer {
    .dark-blue {
        background-color: #040f19;
    }
    .blue {
        background-color: #021C36;
    }
    .light-gray {
        background-color: $back-gray;
    }
    .top {
        padding: 1rem 0;
    }
    color: $white;
    .social {
        padding-top: .7rem;
        strong {
            display: block;
            padding-top: .3rem;
            font-family: $title-font;
            text-transform: uppercase;
            font-size: .9rem;
        }
        .menu {
            margin-left: .5rem;
            li {
                a {
                    padding: 0 !important;
                    margin-right: .3rem;
                    &:hover {
                        img {
                            opacity: .3;
                        }
                    }
                }
            }
        }
    }
    .middle {
        padding: 2rem 0;
        .columns {
            border-right: 1px solid $primary-color;
            &:last-child {
                border-right: none;
            }
        }
        .footer-title {
            font-family: $title-font;
            font-size: 1.2rem;
            text-transform: uppercase;
            color: $primary-color;
        }
        .vertical {
            li {
                a {
                    padding-left: 0;
                    color: $white;
                    font-size: .9rem;
                    line-height: 1.5rem;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        .form {

            input {
                border-radius: rem-calc(4px);
                border: none;
                &.wide {
                    width: 100%;
                    background-color: #040f19;
                    color: $white;
                }
                &.submit {
                    width: 100%;
                    padding: .3rem .5rem;
                    background-color: #040f19;
                    color: $white;
                    text-align: center;
                    &:hover {
                        background-color: $black;
                    }
                }
            }
        }
    }
    .bottom {
        padding: 2rem 0;
        .info {
            font-style: normal;
            color: $primary-color;
            font-size: .8rem;
            address {
                font-style: normal;
            }
        }
        .logo {
            .gob-logo {
                position: relative;
                display: block;
                bottom: -31px;
                width: 120px;
                height: 120px;
                text-indent: -1000em;
                background-image: url(../img/logo_gob_footer.png);
            }
        }
    }
}

div.wpcf7 img.ajax-loader {
    @include breakpoint(small only) {
        width: 16px !important;
    }
}

.entry-feature {
    position: relative;
    img {
        width: 100%;
    }
    .wrap {
        @include coverer;
        @include gradient-to-none(0,0,0);
        .wrap-content {
            position: absolute;
            bottom: 0;
            width: 70%;
            padding: 2rem;
            color: $white;
            .subtitle {
                text-transform: uppercase;
                font-size: 1rem;
            }
            .entry-title {
                font-family: $title-font;
            }
            .entry-summary {
                font-size: .9rem;
            }
        }
    }
}

.slick-slider {
    .slick-prev {
        left: 20px;
        &:before {
            content: '';
            font-family: 'Dashicons';
        }
    }
    .slick-next {
        right: 20px;
        &:before {
            content: '';
            font-family: 'Dashicons';
        }
    }
}

.single-proyect, .single-technology {
	.main-content {
		.feature {
			height: rem-calc(400);
			.wrap-content {
				left: 1rem;
				.feature-text {
					width: 100%;
					.subtitle {
                        font-size: rem-calc(22);
					}
					.feature-title {
                        font-size: rem-calc(42);
					}
				}
			}
			.project-status {
				position: absolute;
				top: 0;
				right: 1rem;
				padding: .5rem 1.5rem;
				background-color: $secondary-color;
				color: $white;
				text-transform: uppercase;
				font-size: rem-calc(18);
				z-index: 10;
				box-shadow: 1px 1px 3px darken($dark-gray,25);
			}
		}
		.project-details {
			p {
				font-size: rem-calc(13);
				font-style: italic;
				color: $dark-gray;
			}
		}
		.share-buttons {
			@include breakpoint(small only) {
				padding-left: 2rem;
			}
		}
		.download-project {
			position: relative;
			bottom: -4.6rem;
			text-align: right;
			.button {
				font-family: $title-font;
				color: $white;
				text-transform: uppercase;
				em {
					position: relative;
					top: -1px;
					font-family: $body-font-family;
				}
			}
			@include breakpoint(small only) {
				bottom: 0;
				text-align: center;
			}
		}
		.tabs {
			&:after {
				content: '';
				position: relative;
				width: 100%;
				top: -1px;
				border-bottom: 1px solid $medium-gray;
			}
			.tabs-title {
				position: relative;
				text-transform: uppercase;
				font-weight: $bold;
				background-color: $primary-color;
				z-index: 10;
				a {
					color: $white;
				}
				&.is-active {
					background-color: $white;
					border-top: 1px solid $medium-gray;
					border-right: 1px solid $medium-gray;
					border-left: 1px solid $medium-gray;
					a {
						color: $black;
					}
				}
				@include breakpoint(small only) {
					a {
						padding: 1.2rem;
						font-size: 1rem;
					}
				}
			}
		}
		.tabs-content {
			.embed-map {
				width: 100%;
				height: 550px;
			}
			.entry-gallery {
				.box {
					img {
						margin-bottom: 1.5rem;
					}
				}
			}
		}
	}
	.feature {
	position: relative;
	height: rem-calc(555);
	background-size: cover;
	background-blend-mode: multiply;
	&:after {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		background-image: url(img/wire.png);
		background-repeat: repeat;
	}
	.wrap-content {
		position: absolute;
		width: 100%;
		bottom: 7rem;
		left: 0;
		padding: 2rem;
		z-index: 10;
		.feature-text {
			width: 33%;
			color: $white;
			span {
				display: block;
				font-family: $title-font;
				text-transform: uppercase;
				font-weight: $bold;
			}
			.subtitle {
				font-size: rem-calc(33);
			}
			.feature-title {
				font-size: rem-calc(78);
				line-height: 4.5rem;
			}
			.summary {
				margin-top: 1rem;
				font-size: rem-calc(18);
			}
		}
		.feature-buttons {
			position: absolute;
			right: 1rem;
			bottom: 5rem;
			.button {
				display: block;
				font-family: $title-font;
				font-weight: $bold;
				font-size: rem-calc(28);
				text-transform: uppercase;
				color: $white;
			}
		}
		@include breakpoint(small only) {
			.feature-text {
				width: 100%;
				.subtitle {
					text-align: center;
                    font-size: 1rem !important;
                    font-weight: normal;
				}
				.feature-title {
					line-height: 2rem;
					font-size: 1.5rem !important;
					text-align: center;
				}
				.summary {
					font-size: .9rem;
					text-align: center;
				}
			}
			.feature-buttons {
				position: relative;
				right: 0;
				left: 0;
				bottom: 0;
				.button {
					font-size: 1.1rem;
				}
			}
		}
	}
}
}
.move-up {
	position: relative;
	margin-top: -5rem;
}

.box-content {
	padding: 1rem;
	&.white {
		background-color: $white;
	}
	.share-buttons {
		display: flex;
		justify-content: center;
		.menu {
			display: flex;
			align-items: center;
			margin-top: .7rem;
			.tw {
				top: .4rem;
				left: .2rem;
			}
		}
	}
}

// CF7 Repeater styles

.wpcf7-field-group {
    .wpcf7-field-group-add  {
        @include button(false, $secondary-color, darken($secondary-color,10));
    }
    .wpcf7-field-group-remove  {
        @include button(false, $alert-color, darken($alert-color,10));
    }
}