/*
	Widget styles
*/
.horizon {
	.column {
		&:first-child {
			padding-left: 0 !important;
		}
		&:last-child {
			padding-right: 0 !important;
		}
	}
}
.sidebar {
	.widget {
		margin-bottom: 1.5rem;
	}
}
.newsletter {
	iframe {
		border: none;
	}
}
.page-sidebar-text {
	h4 {
		font-size: .8rem;
		font-weight: $bold;
	}
	p {
		margin-bottom: 0 !important;
		font-size: rem-calc(12) !important;
		font-weight: initial;
	}
	em {
		font-size: rem-calc(11);
		color: $dark-gray;
		font-style: normal;
		font-weight: initial;
	}
}
.newsletter {
	margin-top: 3rem;
	clear: both;
	p {
		text-align: center;
		font-style: italic;
		color: $dark-gray;
		font-size: rem-calc(11);
	}
	strong {
		font-size: rem-calc(15);
		text-transform: uppercase;
	}
	span {
		text-transform: uppercase;
	}
	.form {
		position: relative;
		padding-left: 1rem !important;
		top: -.7rem;
		.wpcf7-email {
			width: 70%;
			float: left;
		}
		.wpcf7-submit {
			position: relative;
			width: 28%;
			float: left;
			left: -.2rem;
			top: -.1rem;
			@include theme-gray;
			border-radius: .3rem;
		}
	}
}
.widget {
	iframe {
		border: none;
	}
	.widget-title {
		@include low-title;
	}
	&.event-navigator {
		.accordion-item {
			.accordion-title {
				&:hover {
					background-color: lighten($third-color, .7);
					color: $white;
				}
			}
			.accordion-content {
				.month-name {
					display: block;
					font-size: .8rem;
					color: $dark-gray;
					text-transform: capitalize;
					&:hover {
						text-decoration: underline;
					}
				}	
			}
		} 
	}
	&.term-info {
		padding: 1rem;
		border: 1px solid $light-gray;
		background-color: lighten($light-gray,5);
		.term-list {
			font-size: .9rem;
			.term {
				display: block;
				margin-right: 1.5rem;
				margin-top: .5rem;
				float: left;
				clear: both;
				color: $primary-color;
			}
			.definition {
				display: inline-block;
				margin-top: .5rem;
				color: $dark-gray;
				font-style: italic;
			}
		}
	}
	&.page_content {
		.widget-title {
			color: $dark-gray;
			font-size: rem-calc(14);
		}
		.widget-content {
			font-size: rem-calc(14);
		}
		.link-more {
			display: block;
			padding-top: 0;
			border-bottom: 1px solid $medium-gray; 
			text-align: center;
			font-family: $title-font;
			font-weight: $bold;
			font-size: rem-calc(20);
			color: $black;
			span {
				position: relative;
				top: .8rem;
				background: $white;
				padding: .5rem;
			}
			&:hover {
				color: $secondary-color;
			}
		}
	}
	&.textwidget {
		font-size: .7rem;
	}
	&.links {
		margin-bottom: 1.5rem;
		.column {
			margin-bottom: 1rem;
			padding-bottom: 1rem;
			a {
				display: flex;
				align-items: center;
			}
		}
	}
	&.sidebar-title {
		margin: 2rem 0 0 0;
		margin-bottom: .5rem;
		.widget-title {
			font-family: $title-font;
			font-size: rem-calc(20);
			font-weight: $bold;
			text-transform: uppercase;
			color: $black;
		}
	}
	&.widget_text {
		.widget-newsletter {
			margin: 0 !important;
			.newsletter {
				margin-top: 0;
			}
		}
	}
	&.news {
		.widget-content {
			.button {
				&.secondary {
					background: $secondary-color;
					&:hover {
						background: $dark-gray;
					}
				}
			}
		}
	}
	&.news {
		margin-bottom: 2.5rem;
		.widget-title {
			@include big-title;
			text-transform: none;
			@include breakpoint(small only) {
				font-size: 1.4rem;
			}
		}
		.widget-content {
			text-align: center;
			border-bottom: 1px solid $light-gray;
			.entry-news {
				position: relative;
				margin-bottom: 1rem;
				img {
					width: 100%;
				}
				@include breakpoint(small only) {
					overflow: hidden;
					.entry-info {
						.entry-title {
							font-size: .8rem !important;
						}
					}
				}
				.entry-info {
					@include coverer;
					@include gradient-to-none(0,0,0);
					.entry-title {
						width: 100%;
						padding: 1rem;
						position: absolute;
						bottom: 0;
						left: 0;
						text-align: center;
						font-family: $title-font;
						color: $white;
						font-size: rem-calc(18);
						font-weight: $bold;
					}	
				}
				&:hover {
					.entry-info {
						background-color: rgba($black, .4);
					}
					.entry-title {
						color: $secondary-color;
					}
				}
			}
			.button {
				position: relative;
				top: 2.2rem;
				box-shadow: 5px 5px 0 $back-gray, -5px -5px 0 $back-gray;
				border-radius: rem-calc(3);	
				text-transform: uppercase;
			}
		}
	}
	/*
		La última edicion (magazine)
	*/
	&.the-last-edition {
		width: 90%;
		.widget-title {
			font-size: rem-calc(30);
			text-transform: none;
			color: $primary-color;
		}
		.entry-last-magazine {
			img {
				width: 100%;
			}
		}
	}
	/*
		Ediciones single article
	*/
	&.editions {
		a {
			display: block;
			padding: 1.9rem 1rem 1rem 1rem;
			background: $light-gray;
			width: 167px;
			height: 167px;
			border-radius: 50%;
			text-align: center;
			.widget-title {
				color: $white;
				font-size: rem-calc(14);
			}
			.widget-content {
				color: $dark-gray;
				font-family: $title-font-alt;
				font-size: .9rem;
			}
			&:hover {
				background: $secondary-color;
			}
		}
	}
	/*
		Keywords widget single article
	*/
	&.keywords {
		.widget-content {
			ul {
				@include themes;
			}
		}
	}
	/*
		Licences widget revistas
	*/
	&.license {
		.widget-content {
			margin-top: 1rem;
			font-size: rem-calc(10);
		}
	}
	/*
		Widgets de texto
	*/
	&.text {
		&>a {
			display: block;
			padding: .5rem;
			text-align: center;
			font-size: rem-calc(14);
			.widget-title {
				font-weight: $bold;
			}
			.widget-link {
				font-size: rem-calc(9);
				font-style: italic;
				background: transparent;
			}
		}
		&.dark {
			&>a {
				background-color: $dark-gray;
				border: 1px solid darken($dark-gray,10);
				box-shadow: 0 2px 4px $dark-gray;
				.widget-title {
					color: $white;
				}
				p {
					color: $light-gray;
				}
				.widget-link {
					color: $light-gray;
				}
				&:hover {
					background-color: lighten($dark-gray,10);
				}
			}
		}
		&.green {
			&>a {
				background-color: $secondary-color;
				border: 1px solid darken($secondary-color,7);
				box-shadow: 0 2px 4px $medium-gray;
				.widget-title {
					color: $white;
				}
				p {
					color: $white;
				}
				.widget-link {
					color: $white;
				}
				&:hover {
					background-color: lighten($secondary-color,10);
				}
			}
		}
		&.blue {
			&>a {
				background-color: $primary-color;
				border: 1px solid darken($primary-color,7);
				box-shadow: 0 2px 4px $medium-gray;
				.widget-title {
					color: $white;
				}
				p {
					color: $white;
				}
				.widget-link {
					color: $white;
				}
				&:hover {
					background-color: lighten($primary-color,10);
				}
			}
		}
		&.light {
			&>a {
				background-color: $light-gray;
				border: 1px solid $medium-gray;
				box-shadow: 0 2px 4px $medium-gray;
				.widget-title {
					color: $primary-color;
				}
				p {
					color: $dark-gray;
				}
				.widget-link {
					color: $dark-gray;
				}
				&:hover {
					background-color: darken($white,5);
				}
			}
		}
	}
	/*
		Image widgets
	*/
	&.img {
		&.mini-side {
			.widget-title {
				font-family: $title-font;
				font-weight: $bold;
				font-size: rem-calc(20);
				color: $black;
				text-transform: uppercase;
				text-align: left;
			}
			.widget-content {
				@include grid-row;
				.widget-image {
					@include grid-column(5);
					padding-left: 0 !important;
					padding-right: 0 !important;
				}
				.widget-side-content {
					@include grid-column(5);
					@include grid-column-end();
					.entry-subtitle {
						font-size: rem-calc(14);
						font-weight: $bold;
					}
					.entry-summary {
						font-size: rem-calc(11);
						color: $dark-gray;
					}
				}
			}
		}
		&.background {
			margin-bottom: 0;
			&.no-thumb {
				min-height: 300px;
				.widget-content {
					.entry-news {
						.entry-info {
							width: 100%;
							height: 264px;
							background: $secondary-color;
							a {
								&:hover {
									.wrap-content {
										.entry-title {
											color: darken($secondary-color, 20);
										}
									}
								}
							}
						}
					}
				}
			}
			.widget-content {
				border-bottom: 0;
				.entry-news {
					.entry-info {
						.wrap-content {
							position: absolute;
							bottom: .5rem;
							left: 0;
							right: 0;
							padding: 0 .5rem;
							margin: auto;

							.entry-title {
								padding: 0;
								position: static;
							}
							.entry-summary {
								color: $white;
								font-size: rem-calc(11);
							}
						}
					}
				}
			}
		}
		&.simple {
			padding: 1rem;
			border: 1px solid $light-gray;
			a {
				.entry-title {
					margin-top: 1rem;
					font-size: rem-calc(14);
					text-transform: uppercase;
					font-weight: $bold;
				}
				.entry-summary {
					font-size: rem-calc(12);
					color: darken($dark-gray,15);
				}
				.widget-image {
					img {
						width: 100%;
					}
				}
				&:hover {
					.entry-title {
						color: $secondary-color;
					}
					img {
						opacity: .8;
					}
				}
			}
			

			&.dark {
				background: $dark-gray;
				border: 1px solid darken($dark-gray, 7);
				box-shadow: 0 2px 4px $medium-gray;
				.entry-title {
					color: $white;
				}
				.entry-summary {
					color: $white;
				}
			}
			&.green {
				background: $secondary-color;
				border: 1px solid darken($secondary-color, 7);
				box-shadow: 0 2px 4px $medium-gray;
				.entry-title {
					color: $white;
				}
				.entry-summary {
					color: $white;
				}
			}
			&.blue {
				background: $primary-color;
				border: 1px solid darken($primary-color, 7);
				box-shadow: 0 2px 4px $medium-gray;
				.entry-title {
					color: $white;
				}
				.entry-summary {
					color: $white;
				}
			}
		}
		&.squared-title {
			.widget-title {
				margin-top: 1rem;
			}
			.widget-content {
				width: 90%;
			}
			.widget-image {
				&.rounded {
					img {
						border-radius: 50%;
					}
				}
			}
		}
		&.title-up {
			display: inline-block;
			.entry-summary {
				padding-top: 1rem;
				font-size: rem-calc(12);
				color: $dark-gray;
			}
			.widget-image {
				img {
					width: 100%;
				}
				&.rounded {
					img {
						border-radius: 50%;
					}
				}
			}
			&.dark {
				padding: 1rem;
				background: $dark-gray;
				border: 1px solid darken($dark-gray, 7);
				box-shadow: 0 2px 4px $medium-gray;
				.widget-title {
					color: $white;
				}
				img {
					border: 1px solid $medium-gray;
				}
				.entry-summary {
					color: $light-gray;
				}
			}
			&.green {
				padding: 1rem;
				background: $secondary-color;
				border: 1px solid darken($secondary-color, 7);
				box-shadow: 0 2px 4px $medium-gray;
				.widget-title {
					color: $white;
				}
				img {
					border: 1px solid lighten($secondary-color,10);
				}
				.entry-summary {
					color: $white;
				}
			}
			&.blue {
				padding: 1rem;
				background: $primary-color;
				border: 1px solid darken($primary-color, 7);
				box-shadow: 0 2px 4px $medium-gray;
				.widget-title {
					color: $white;
				}
				img {
					border: 1px solid lighten($primary-color,10);
				}
				.entry-summary {
					color: $white;
				}
			}
		}
		&.testimonial {
			&.light {
				padding: 0 5rem;
				.author {
					color: $dark-gray;
				}
			}
			&.dark {
				padding: 1rem 2rem;
				background: $dark-gray;
				box-shadow: 0 2px 4px $medium-gray;
				img {
					border: 2px solid $light-gray;
				}
				p {
					color: $white;
				}
				.author {
					color: $white;
				}
			}
			&.green {
				padding: 1rem 2rem;
				background: $secondary-color;
				box-shadow: 0 2px 4px $medium-gray;
				img {
					border: 2px solid lighten($secondary-color,10);
				}
				p {
					color: $white;
				}
				.author {
					color: $white;
				}
			}
			&.blue {
				padding: 1rem 2rem;
				background: $primary-color;
				box-shadow: 0 2px 4px $medium-gray;
				img {
					border: 2px solid lighten($primary-color,10);
				}
				p {
					color: $white;
				}
				.author {
					color: $white;
				}
			}
			.widget-image {
				img {
					margin-right: 1rem;
				}
				&.rounded {
					img {
						border-radius: 50%;
					}
				}
			}
			.widget-content {
				padding-top: 1.4rem;
				text-align: left !important;
				p {
					font-size: rem-calc(15);
				}
				.author {
					font-size: rem-calc(9);
					font-style: italic;
				}
			}
			@include breakpoint(small only) {
				&.light {
					padding: 0 3rem;
				}
				.widget-image {
					float: none !important;
					text-align: center;
					img {
						width: 80% !important;
					}
				}
				.widget-content {
					text-align: center !important;
					.author {
						font-size: .9rem;
					}
				}
			}
		}
		.widget-title {
			text-align: center;
		}
		.widget-content {
			text-align: center;
			a {
				&:hover {
					img {
						opacity: .8;
					}
				}
			}
		}
	}
	/*
		News widget
	*/
	&.news {
		margin-bottom: 2.5rem;
		.widget-title {
			@include big-title;
			text-transform: none;
		}
		.widget-content {
			text-align: center;
			border-bottom: 1px solid $light-gray;
			.large-up-1 {
				.column {
					padding-left: 0 !important;
					padding-right: 0 !important;
				}
			}
			.entry-news {
				position: relative;
				margin-bottom: 1rem;
				a {
					img {
						width: 100%;
					}
					.entry-info {
						@include coverer;
						@include gradient-to-none(0,0,0);
						.entry-title {
							width: 100%;
							padding: 1rem;
							position: absolute;
							bottom: 0;
							left: 0;
							text-align: center;
							font-family: $title-font;
							color: $white;
							font-size: rem-calc(18);
							font-weight: $bold;
						}	
					}
					&:hover {
						.entry-info {
							background-color: rgba($black, .4);
						}
						.entry-title {
							color: $secondary-color;
						}
					}
				}
			}
			.button {
				position: relative;
				top: 2.2rem;
				box-shadow: 5px 5px 0 $back-gray, -5px -5px 0 $back-gray;
				border-radius: rem-calc(3);	
				text-transform: uppercase;
			}
		}
	} 

	/*
		Newsletter widget
	*/
	&.widget-newsletter {
		margin: 2rem 0;
		p {
			text-align: left;
		}
		.form {
			position: relative;
			left: -1rem;
		}
	}
}

.widget-single-info {
	&.margin-bottom-sm {
		margin-bottom: 15px !important;
	}
	width: 100%;
	display: inline-block;
	margin-bottom:50px;
	.icon {
		width: 20%;
		float: left;
		height: 30px;
		i {

			display: block;
			margin: 5px auto;
			font-size: 30px;
			color: #000000;
			opacity: .7;
		}
	}
	.info {
		width: 80%;
		display: inline-block;
		color: #4A4A4A;
		float: right;
		.bold {
			font-weight: 700;
		}
		.condensed {
			font-family: $title-font;
		}
		.uppercase {
			text-transform: uppercase;
		}
		.hour-end {
			position: relative;
			margin-top: 1.7rem;
			.and-hour {
				position: absolute;
				top: -1.4rem;
				left: 0;
				font-family: $title-font;
				color: #4A4A4A;
				text-transform: uppercase;
				font-size: .6rem;
			}
		}
	}
	.label {
		font-size: 11px;
		color: #979797;
		font-family: $body-font-family;
		+ p {
			font-size: 12px;
			color: #454545;
			font-family: $body-font-family;
			font-weight: 400;
		}
	}
	.category {
		padding: 4px 10px;
		border-radius: 6px;
		margin-bottom: 10px;
		display: inline-block;
		
		&.dark-grey {
			background-color: #9B9B9B;
			color: #fff;
		}
		&.grey {
			background-color: #C0C0C0;
			color: #fff;
		}
		a {
			color: #fff;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.date {
		margin: auto;
		display: -webkit-flex;
		display: flex;
		.and-date {
			position: absolute;
			top: -1.7rem;
			left: 3.4rem;
			font-family: $title-font;
			color: $secondary-color;
			text-transform: uppercase;
		}
		.count-days {
			position: absolute;
			bottom: -1.4rem;
			left: 4.5rem;
			font-family: $title-font;
			color: $secondary-color;
			text-transform: uppercase;
		}
		&.end-date {
			position: relative;
			margin-top: 1.7rem;
		}
		.day, .month {
			// float: left;
			h3 {
				font-size: 37px;
				font-family: $title-font;
				font-weight: 700;
				text-transform: uppercase;
				margin: 0;
				line-height: 35px;
			}
			p {
				font-size: 11px;
				font-family: $title-font;
				font-weight: 700;
				margin: 0;
				// line-height: 30px;
			}
		}
		.day {
			margin: auto 0 auto 0;
		}
		.month {
			margin: auto auto auto 10px;
			h3 {
				margin-top: 0px;
				font-size: 32px;
			}
		}
	}
}