/*
* HEADER
*/
.main-header {
	.dark-blue {
	background-color: $third-color;
	}
	.blue {
		background-color: #021C36;
	}
	.light-gray {
		background-color: $back-gray;
	}

	.main-logo {
		display: block;
		margin-top: 1rem;
		width: 278px;
		height: 107px;
		text-indent: -1000rem;
		background-image: url(img/logo.png);
		background-repeat: no-repeat;
	}
	.gob-logo {
		padding-top: 1rem;
		padding-right: 0;
		background-image: url(../img/logo_gob.png);
		background-position: top right;
		background-repeat: no-repeat;
		.searchform {
			margin-top: 1.8rem;
			#s {
				position: relative;
				right: -.5rem;
				background: $light-gray;
				border: none;
				box-shadow: none;
			}
			.button {
				position: relative;
				padding: .75rem 2rem;
				background: $medium-gray;
				color: $dark-gray;
				border-radius: .3rem;
				z-index: 10;
			}
		}
	}
	.main-navigation {
		margin-top: 1rem;
		background: $third-color;
		color: $white;
		.menu-item {
			padding: .5rem 0;
			border-right: 1px solid darken($primary-color, 10);
			a {
				color: $white;
				text-transform: uppercase;
				font-size: .9rem;
				font-weight: 700;
				&:hover {
					color: $secondary-color;
				}
			}
		}
	}
}
/*
// FOOTER
*/

.main-footer {
	.dark-blue {
		background-color: $third-color;
	}
	.blue {
		background-color: #021C36;
	}
	.light-gray {
		background-color: $back-gray;
	}
	.top {
		padding: 1rem 0;
	}
	color: $white;
	.social {
		padding-top: .7rem;
		strong {
			display: block;
			padding-top: .3rem;
			font-family: $title-font;
			text-transform: uppercase;
			font-size: .9rem;
		}
		.menu {
			margin-left: .5rem;
			li {
				a {
					padding: 0 !important;
					margin-right: .3rem;
					&:hover {
						img {
							opacity: .3;
						}
					}
				}
			}
		}
	}
	.middle {
		padding: 2rem 0;
		.columns {
			border-right: 1px solid $primary-color;
			&:last-child {
				border-right: none;
			}
		}
		.footer-title {
			font-family: $title-font;
			font-size: 1.2rem;
			text-transform: uppercase;
			color: $primary-color;
		}
		.vertical {
			li {
				a {
					padding-left: 0;
					color: $white;
					font-size: .9rem;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
		.form {
			input {
				border-radius: rem-calc(4px);
			}
		}
	}
	.bottom {
		padding: 2rem 0;
		.info {
			font-style: normal;
			color: $primary-color;
			font-size: .8rem;
			address {
				font-style: normal;
			}
		}
		.logo {
			.gob-logo {
				position: relative;
				display: block;
				bottom: -31px;
				width: 120px;
				height: 120px;
				text-indent: -1000em;
				background-image: url(../img/logo_gob_footer.png);
			}
		}
	}
}