.dark-blue {
	background-color: $third-color;
}
.blue {
	background-color: #021C36;
}
.light-gray {
	background-color: $back-gray;
}

.home {
	.main-content {
		padding: 3rem 0;
	}
}
.home-sidebars {
	margin-top: 2rem;
	padding: 1.5rem 0;
}
.home {
	.main-content {
		padding-bottom: 0;
	}
}
.main-content {
	padding-top: 1.5rem;
	padding-bottom: 3rem;
	.primary-title {
		@include big-title;
	}
	.secondary-title {
		@include low-title;
	}
	.middle-title {
		@include middle-title;
	}
	.all {
		font-family: $title-font-alt;
		color: $dark-gray;
		font-size: rem-calc(14);
		&:hover {
			text-decoration: underline;
		}
	}
	.tax-description {
		margin: .5rem 0;
		color: $dark-gray;
		font-size: rem-calc(15);
	}
	.author-header {
		.row {
			padding-bottom: 1rem;
			margin-bottom: 1rem;
			border-bottom: 1px solid $light-gray;
			.entry-title {
				font-family: $title-font;
				font-size: 1.7rem;
			}
			.img {
				&.rounded {
					img {
						border-radius: 50%;
					}
				}
			}
		}
	}
	.themes {
		.vertical {
			li {
				a {
					display: inline-block;
					padding: .8rem 1.5rem;
					margin-bottom: 1rem;
					background-color: $primary-color;
					color: $white;
					border-radius: rem-calc(3);
					font-size: .9rem;
					&:hover {
						background-color: lighten($primary-color,10);
					}
				}
			}
		}
	}
	.entry-gallery {
		margin-bottom: 2rem;
		.column {
			margin-bottom: 1.8rem;
		}
		a {
			&:hover {
				img {
					opacity: .8;
				}
			}
		}
		@include breakpoint(small only) {
			.column {
				margin-bottom: 1rem;
			}
		}
	}
}
.std-text {
	margin: 1rem 0 5rem 0;
	font-size: rem-calc(15);
	line-height: 1.9rem;
}
.sidebar {
	padding-left: 3.5rem;
	margin-bottom: 5rem;
	border-left: 1px solid $medium-gray;
	.category-title {
		font-size: rem-calc(20);
		font-family: $title-font;
		font-weight: $bold;
		.dashicons {
			margin-left: -1.8rem;
			width: 1.6rem;
			height: 1.6rem;
			font-size: 1.6rem;
		}
	}
	.themes {
		.vertical {
			li {
				margin-bottom: 0;
				a {
					@include theme-gray-light;
				}
			}
		}
	}
	.vertical {
		li {
			margin-bottom: .8rem;
			a {
				display: inline-block !important;
				padding: .4rem 1rem;
				border-radius: .3rem;
				font-size: rem-calc(14);
			}
		}
		&.categories {
			a {
				color: $light-gray;
				background: $dark-gray;
				&:hover {
					background: darken($dark-gray,10);
				}
			}
		}
		&.tags {
			a {
				color: $white;
				background: $medium-gray;
				&:hover {
					background: darken($medium-gray,10);
				}
				&:before {
					content: '#';
				}
			}
		}
	}
}
.content-header {
	.entry-title {
		font-size: rem-calc(35);
		font-family: $title-font;
		margin-bottom: 2rem;
	}
	.published {
		font-style: italic;
		font-size: rem-calc(11);
		color: $dark-gray;
	}
}
.share-buttons {
	margin-bottom: 1.5rem;
	.tw {
		position: relative;
		margin-left: 1rem;
		top: .3rem;
		left: 1rem;
	}
}
.related-books {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	margin-bottom: 2rem;
	.entry-publication {
		@include grid-row(12);
		.entry-image {
			@include grid-column(4);
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
		.entry-content {
			@include grid-column(8);
			.entry-title {
				font-size: rem-calc(12);
			}
		}
	}
}
.newsletter {
	margin-top: 3rem;
	clear: both;
	p {
		text-align: center;
		font-style: italic;
		color: $dark-gray;
		font-size: rem-calc(11);
	}
	strong {
		font-size: rem-calc(15);
		text-transform: uppercase;
	}
	span {
		text-transform: uppercase;
	}
	.form {
		position: relative;
		padding-left: 1rem !important;
		top: 0;
		margin-top: 1rem;
		.wpcf7-email {
			width: 70%;
			float: left;
		}
		.wpcf7-submit {
			position: relative;
			width: 28%;
			float: left;
			left: -.2rem;
			top: -.1rem;
			@include theme-gray;
			border-radius: .3rem;
		}
	}
}
.single {
	.content-header {
		.entry-image {
			img {
				margin-left: 1rem;
			}
		}
		@include breakpoint(small only) {
			img {
				margin-left: 0 !important;
			}
		}	
		.entry-meta {
			@include breakpoint(small only) {
				min-height: 244px;
				height: 244px;
			}
		}
	}
	.related-books {
		padding-top: 0;
	}
}
.page {
	.entry-image {
		&.default {
			position: relative;
			img {
				width: 100%;
			}
			.content-wrap {
				@include coverer;
				@include gradient-to-none(0,0,0);
				.entry-title {
					position: absolute;
					width: 90%;
					bottom: 1rem;
					left: 1rem;
					font-family: $title-font;
					font-weight: $bold;
					font-size: rem-calc(35);
					text-shadow: 0 1px 0 $black;
					color: $white;
				}
			}
		}
	}
	.content-header {
		.entry-image {
			padding: 0;
			position: relative;
			width: 100%;
			margin-bottom: 1.5rem;
			img {
				width: 100%;
			}
			.content-wrap {
				@include coverer;
				@include gradient-to-none(0,0,0);
				.entry-title {
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					margin: auto;
					width: 90%;
					height: rem-calc(35);
					text-align: center;
					font-weight: $bold;
					font-size: rem-calc(35);
					text-shadow: 0 1px 0 $black;
					color: $white;
				}
			}
		}

	}
}
.point-list {
	.entry-point {
		.entry-title {
			font-family: $title-font;
			font-size: rem-calc(18);
			font-weight: $bold;
		}
		address {
			display: block;
			font-style: normal;
			font-size: rem-calc(15);
			color: $black-gray;
		}
		span {
			margin: .5rem 0;
			display: block;
			font-size: rem-calc(15);
			color: $black-gray;
		}
	}
}

.page-meta {
	.meta-title {
		font-family: $title-font;
		font-size: rem-calc(20);
		text-transform: uppercase;
		font-weight: $bold;
		.dashicons {
			margin-left: -2.3rem;
			font-size: 2rem;
			width: 2rem;
			height: 2rem;
		}
	}
	h4 {
		font-size: rem-calc(15);
		font-weight: $bold;
	}
	h6 {
		font-size: rem-calc(11);
		color: $dark-gray;
	}
	p {
		font-size: rem-calc(12);
	}
}
.single-books {
	.header-books {
		margin: 1.5rem 0;
	}
	.entry-title {
		font-family: $title-font;
		font-size: rem-calc(18);
		color: $primary-color;
	}
	p {
		font-size: rem-calc(15);
	}
	.themes {
		.vertical {
			li {
				a {
					background-color: $medium-gray;
				}
				&.active {
					a {
						background-color: $primary-color;
					}
				}
			}
		}
		@include breakpoint(small only) {
			.primary-title {
				font-size: 1.2rem;
			}
			.menu {
				li {
					display: inline-block;
					float: left; 
					margin-right: .3rem;
					a {
						padding: .5rem .8rem;
						margin-bottom: .5rem;
						font-size: .7rem;
					}
				}
			}
		}
	}
	.bottom-buttons {
		.button {
			margin-top: 1rem;
			border-radius: .3rem;
		}
	}
	.get {
		background-color: $medium-gray;
		color: $dark-gray;
		&:hover {
			background-color: $dark-gray;
			color: $white;
		}
	}
}
.magazine-list {
	.book-details {
		padding-left: 1rem !important;
		border-left: 0;
		.entry-title {
			font-family: $title-font;
			font-size: rem-calc(18);
			font-weight: $bold;
			color: $primary-color;
		}
	}
}
.book-details {
	border-left: 1px solid $medium-gray;
	padding-left: 1rem;
	font-size: rem-calc(11);
	h5 {
		margin-top: 1rem;
		font-size: rem-calc(10);
		font-weight: $bold;
		color: $primary-color;
		text-transform: uppercase;
		&:first-child {
			margin-top: 0;
		}
	}
	.bold-list {
		font-weight: $bold;
	}
	@include breakpoint(small only) {
		border-left: 0;
		padding: .5rem 1rem;
		margin: .5rem 0;
		border-top: 1px solid $medium-gray;
		border-bottom: 1px solid $medium-gray;
	}
}

.entry-magazine {
	padding: 1rem;
	margin-top: 2.6rem;
	border: 1px solid $light-gray;
	a {
		.entry-title {
			margin-top: 1rem;
			font-size: rem-calc(14);
			text-transform: uppercase;
			font-weight: $bold;
		}
		.entry-summary {
			font-size: rem-calc(14);
			color: $dark-gray;
		}
		&:hover {
			.entry-title {
				color: $secondary-color;
			}
			img {
				opacity: .8;
			}
		}
	}
}
.entry-publication {
	margin-top: 1rem;
	a {
		.entry-title {
			margin-top: .8rem;
			font-family: $title-font;
			font-size: rem-calc(18);
			font-weight: $bold;
			color: $black;
		}
		&:hover {
			img {
				opacity: .8;
			}
			.entry-title {
				color: $primary-color;
			}
		}
	}
	.categories {
		margin-top: 1rem;
		border-top: 1px solid $light-gray;
		a {
			font-style: italic;
			font-size: rem-calc(11);
			color: $dark-gray;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.widget {
	.widget-title {
		@include low-title;
	}
	&.img {
		.widget-title {
			text-align: center;
		}
		.widget-content {
			text-align: center;
			a {
				&:hover {
					img {
						opacity: .8;
					}
				}
			}
		}
	}
	
	&.widget-newsletter {
		margin: 2rem 0;
		p {
			text-align: left;
		}
		.form {
			position: relative;
			left: -1rem;
		}
	}
}

//responsive
.theme-mobile-menu {
	padding-bottom: .5rem;
	margin-bottom: .5rem;
	border-bottom: 1px solid $light-gray;
	font-family: $title-font-alt;
	font-size: 1.2rem;
	.dashicons {
		position: relative;
		top: .3rem;
	}
	&.active {
		border-bottom: none;
		.dashicons {
			&:before {
				content: "\f142";
			}
		}
	}
}
.main-content {
	@include breakpoint(small only) {
		.themes {
			margin-bottom: .5rem;
			padding-bottom: .5rem;
		}
	}
}
.themes-mobile-list {
	padding-top: 1rem;
	padding-bottom: .5rem;
	margin-bottom: .5rem;
	border-bottom: 1px solid $light-gray;
	.themes {
		.primary-title {
			display: none;
		}
		.menu {
			li {
				display: inline-block;
				float: left; 
				margin-right: .3rem;
				a {
					padding: .5rem .8rem;
					margin-bottom: .5rem;
					font-size: .7rem;
				}
			}
		}
	}
}

.sidebar-home-center {
	@include breakpoint(small only) {
		.small-up-2 {
			.column {
				&:nth-child(3) {
					@include grid-column(12);
				}
				&:nth-child(4) {
					@include grid-column(12);
				}
			}
		}
	}
}
.entry-author {
	margin-bottom: 1.5rem;
	.rounded {
		img {
			border-radius: 50%;
		}
	}
	.entry-title {
		font-size: 1.2rem;
		font-family: $title-font;
		margin-top: 1rem;
		text-align: center;
	}
}