.input-group {
	font-family: $sans;
	font-weight: 400;
	.input-group-field {
		border:1px solid transparent;
		box-shadow: none;
		background-color: #F1F1F1;
		border-top-left-radius: 3px !important;
		border-bottom-left-radius: 3px !important;
	}
	.button {
		background-color: #CBCBCB;
		border:1px solid #BCBCBC;
		color: #6C6966;
		border-radius: 3px;
		height: 40px;
	}
}
.form-search {

	select {
		height: 30px !important;
		padding: 5px 10px !important;	;
		background-color: #F1F1F1;
		border:1px solid transparent;
		border-radius: 3px;
		font-family: $sans;
		font-weight: 400;
		color: #6C6966;
		font-size: 12px;
	}
	label {
		padding: 0;
	}
	.button {
		padding: 7px 10px;
	}
}