/* Small only */
@media screen and (max-width: 39.9375em) {
	img {
		max-width: 250%;
	}
	header .logo img {
		width: 100%;
	}
	footer ul {
		margin: 0;
	}
	footer .mid-footer {
		display: block;
		ul {
			display: inline-block;
			width: 100%;
			border:none;
			margin-bottom: 25px;
			li {
				// list-style-type: square;
				margin-bottom: 10px;
			}
			li > a {
				// border:1px solid red;
				float: left;
				font-size: 12px;
				margin-right: 5px;
				border-bottom: 1px solid #018CCB;
			}
		}
	}
	footer .sub-footer {
		padding-bottom: 160px;
	}
	.heading {
		flex-direction: column;
		margin-bottom: 30px;
		span {
			// font-size: 70%;
			margin-top: 5px;
			margin-left: 0;
			// display: none;
		}
	}
	.title-bar {
		padding: 1rem;
	}
	.main-nav {
		.columns {
			padding: 0;
		}
		ul li {
			display: block;
			width: 100%;
			border: none;
			a {
				padding: 15px;
			}
		}
	}
	// Home
	.widget-post.widget-lg .widget-img img {
    	width: 180%;
    	left: -30%;
	}
	.widget-post.widget-lg .widget-body p {
	    font-size: 20px;
	    line-height: 27px;
	}
	.widget-documents .widget-img img {
		width: 100%;
	}
	.widget-post.widget-lg .widget-header .widget-date {
		padding: 5px;
		.day h3 {
			font-size: 30px;
		}
		.month h3 {
			font-size: 25px;
		}
	}
	.widget-post.widget-lg .category {
		width: 65px;
	}
	.widget-post .category {
		width: 50px;
	}
	.widget-ret .widget-header {
	    height: 120px;
	}
	.widget-important .widget-header {
		height: 200px;
		width: 200px;
	}
	// Single actividad
	.heading.heading-lg {
	    font-size: 22px;
	    line-height: 30px;
	}
	.content p {
		font-size: 14px;
		line-height: 23px;
	}
	.border-right {
		border: none;
	}
	.widget-single-info .icon i {
		margin: 5px 0;
	}
	.btn-more.line {
		margin-top: 30px;
	}
	// Single noticia
	.widget-single-info {
		.info {
			width: 100%;
		}
		// Si tiene ícono e info, ocupa 80% del ancho, sino 100%
		.icon + .info {
			width: 80%;
		}
	}
	// Single básico
	.widget-post.single .widget-img img {
		max-width: 200%;
		width: 180% !important;
		left: -20%;
	}
	.widget-post.single .widget-body p {
		font-size: 30px;
		line-height: 32px;
	}
	.pagination li {
		display: inline-block;
		font-size: 12px;
		a, .active {
			padding-right: 0.3rem;
			padding-left: 0.3rem;
		}
	}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
	img {
		max-width: 150%;
	}
	// Home
	.widget-post .widget-img img, .widget-post.widget-lg .widget-img img {
		width: 140%;
	}
	.widget-post.widget-lg {
		.widget-img {
			height: 300px;
		}
	}
	.widget-post {
		font-size: 50%;
	}
	.widget-post .widget-body p {
		font-size: 16px;
		line-height: 20px;
	}
	.widget-post.widget-lg .category {
		width: 65px;
	}
	.widget-post .category {
		width: 50px;
	}
	.widget-post .widget-img, .widget-post .widget-header {
		height: 145px;
	}
	.widget-post.widget-lg .widget-header .widget-date {
		padding: 5px;
		.day h3 {
			font-size: 33px;
		}
		.month h3 {
			font-size: 28px;
		}
	}
	.widget-post .widget-footer p {
		font-size: 15px;
	}
	.widget-post.widget-lg .widget-body p {
	    font-size: 20px;
	    line-height: 25px !important;
	}
	.widget-important .widget-header {
		height: 140px;
		width: 140px;
	}
	.widget-ret .widget-header {
		height: 140px;
		img {
			width: 120%;
		}
	}
	.widget-documents .widget-img img {
		width: 100%;
		max-width: 145px;
	}
	.widget-news {
		.widget-img {
			height: 180px;
			img {
				width: 150%;
				max-width: 150%;
			}
		}
		.widget-body p {
			font-size: 15px;
			line-height: 18px;
		}
	}
	// Single actividad
	.heading.heading-lg {
		line-height: 35px;
		font-size: 25px;
	}
	.widget-single-info {
		margin-bottom: 20px;
		.icon i {
			font-size: 20px;
		}
		.date .month h3, .date .day h3 {
			font-size: 25px;
		}
		.info h5 {
			font-size: 17px;
		}
		.category {
			font-size: 12px;
		}
	}

	.clear:nth-child(odd){
	    clear:both;
	}
	footer ul {
		padding-right: 10px;
	}
	.btn-more.line {
		margin-top: 20px;
	}
}

/* Large and up */
@media screen and (min-width: 64em) {
}

// /* Large only */
// @media screen and (min-width: 64em) and (max-width: 74.9375em) {}