// Variables

$helvetica:			Helvetica, sans-serif;
$slab: 				'Roboto Slab', serif;
$sans: 				'Open Sans', sans-serif;
$condensed: 		'Oswald', sans-serif;
$lucida: 			Lucida Grande,Lucida Sans Unicode,Lucida Sans,Geneva,Verdana,sans-serif; 
$bold: 				700;

.condensed { font-family: $condensed}
.slab { font-family: $slab}
.sans { font-family: $sans}
.helvetica { font-family: $helvetica}
.home .main-content {
	margin-bottom: 0 !important;
}
// Header
header {
	position: relative;
	.logo {
		margin: 40px 0;
	}
	.row {
		position: relative;
	}
	.input-group {
		margin-top: 40px;
	}
}

.footer-dark {
	background-color: #050F19;
	color: #018CCB;
}
.footer-dark-blue {
	background-color: #021C35;
	color: #018CCB;
	a {
		color: #fff;
	}
}

// Navs
.main-nav {
	font-family: $helvetica;
	ul {
		list-style: none;
		margin: 0;
		li {
			float: left;
			border-right: 1px solid #336699;
			a {
				color: #fff;
				font-weight: 600;
				font-size: 12px;
				padding: 20px 15px;
				display: block;
			}
			&.active {
				background-color: #336699;
				&:hover {
					background-color: lighten(#021C36, 15%);
				}
			}
			&:hover {
				background-color: darken(#021C36, 4%);
				color: #f2f2f2;
			}
		}
	}
}
.nav-dark {
	background-color: #021C36;
	color: #fff;
}

// Sections
.main {
	margin: 20px 0 50px 0;
}

// Headings
.heading {
	font-weight: $bold;
	text-transform: uppercase;
	color: #454545;
	display: -webkit-flex;
	display: flex;
	margin-bottom: 20px;

	&.heading-lg {
		font-size: 35px;
		font-family: $condensed;
		font-weight: 700;
		line-height: 47px;
		color: #000;
		text-transform: none;
	}
}
.home {
	.heading {
		.primary-title {
			font-size: 1.4rem;
		}
	}
}

// Aux
.uppercase {
	text-transform: uppercase;
}
.bold {
	font-weight: 700;
}
.light {
	font-weight: 200;
}
.additional-info {
	font-family: $sans;
	font-size: 11px;
	line-height: 15px;
	display: inline-block;
	color: #979797;
	font-style: italic;
	margin-bottom: 10px;
	font-weight: 400;
	width: 100%;
}
.info {
	font-size: 14px;
	font-weight: $bold;
	font-family: $slab;
	margin: auto;
	// margin: auto 0px 0px auto;
	text-transform: none;
}
.relative {
	position: relative;
}
.absolute {
	position: absolute;
}
.right {
	right: 0;
}
.bottom {
	bottom: 0;
}
.top {
	top: 0;
}
// margins
.margin-top-sm {
	margin-top: 15px;
}
.margin-top-sm {
	margin-top: 30px;
}
.margin-top-md {
	margin-top: 60px;
}
.margin-bottom-sm {
	margin-bottom: 15px !important;
}
.no-margin-left {
	margin-left: 0;
}
.no-margin-right {
	margin-right: 0;
}
.no-margin-bottom {
	margin-bottom: 0;
}
// Borders
.border-top {
	border-top: 1px solid #D8D8D8;
}
.border-right {
	border-right: 1px solid #9B9B9B;
}
.border-left {
	border-left: 1px solid #9B9B9B;
}


// Colors
.blue {
	color: #007DD6;
	background: transparent;
	a, p, span, h1, h2, h3, h4, h5, h6 {
		color: #007DD6;
	}
}
.cyan {
	color: #00CCCC;
	a, p, span, h1, h2, h3, h4, h5, h6 {
		color: #00CCCC;
	}
}

// Positions
.float-right {
	float: right;
}
.text-right {
	text-align: right;
}

// Objects

.logo-gob {
	width: 120px;
}

.btn-more {
	width: 100%;
	height: 14px;
	margin-bottom: 30px;
	.btn {
		display: block;
		font-size: 14px;
		text-align: center;
		background-color: rgb(255, 255, 255);
		span {
			font-family: $lucida;
			background-color: #00CCCC;
			color: #fff;
			border:1px solid #CCCCCC;
			padding: 9px 11px;
			border-radius: 3px;
			text-transform: uppercase;
		}
	}

	&.line {
		border-bottom: 1px solid #D8D8D8;
		text-align: center;
		display: inline-block;
		.btn {
			display: inline;
			padding: 0px 10px;
		}
	}
	&:hover .btn span{
		background-color: darken(#00CCCC, 3%);
		border:1px solid darken(#CCCCCC, 10%);
	}
}


.button.cyan {
	font-family: $lucida;
	background-color: #00CCCC;
	color: #fff;
	border:1px solid #CCCCCC;
	padding: 0.85em .5em;
	border-radius: 3px;
	font-weight: 400;
}

.btn-search:hover {
	transition: all 0s ease-out 0s;
	background-color: darken(#00CCCC, 3%);
	border:1px solid darken(#CCCCCC, 10%);
}

// Content
.content {
	padding-bottom: 80px;
	p {
		font-family: $sans;
		font-size: 15px;
		margin-bottom: 30px;
		line-height: 25px;
		color: #4A4A4A;
	}
}

// Social media sharing Override
.social-btn, .twitter-share-button {
	height: 25px !important;
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;
	display: inline-block;
	span {
		vertical-align: top !important;
	}
}

// Adjust

.pagination {
	margin: 50px auto;
	li {
		font-size: 15px;
		color: #454545;
		font-family: $sans;
		&.current {
			border-radius: 3px;
			background-color: #00CCCC;
		}
	}
}

.entry-document {
	.document-content {
		position: relative;
		height: 100%;
		.entry-title {
			font-weight: $bold;
			font-size: rem-calc(14);
		}
		.link-file {
			position: absolute;
			bottom: 0;
			a {
				strong {
					display: block;
					color: $dark-gray;
					font-weight: $bold;
				}
				em {
					font-size: rem-calc(11);
					color: $dark-gray;
				}
				&:hover {
					strong {
						color: $black;
					}
					em {
						color: $black;
					}
				}
			}
		}
	}
}

//Responsive

.sidebar {
	@include breakpoint(small only) {
		padding-left: .5rem;
		border-left: none;
	}
}
.sidebar-home-2-der {
	@include breakpoint(small only) {
		.small-up-2 {
			@include grid-layout(1);
		}
	}
}