// Widgets Home
.widget {
	&.events {
		.widget-title {
			font-family: $title-font-alt;
			font-size: rem-calc(30);
			color: $primary-color;
		}
	}
	&.galleries {
		margin-top: 1rem;
		.widget-title {
			text-transform: none;
		}
		.btn-more {
			margin-bottom: 0 !important; 
		}
	}
}
.widget-post {
	position: relative;
	margin: 0 0 30px 0;
	&.list {
		.widget-header {
			background: rgba($black,.5);
		}
	}
	.category {
		display: -webkit-flex;
		display: flex;
		height: 50px;
		width: 70px;
		float: left;
		span {
			margin: auto;
			color: #fff;
			font-family: $condensed;
			font-weight: 700;
			text-transform: uppercase;
			line-height: 0;
			font-size: 21px;
		}
		&.category-blue {
			background-color: #0086CD;
		}
		&.category-purple {
			background-color: #9013FE;
		}
		&.category-yellow {
			background-color: #F5A623;
		}
		&.category-red {
			background-color: #D0021B;
		}
		&:hover {
			cursor: pointer;
			span {
				color: #f2f2f2;
			}
		}
	}

	.widget-header {
		position: absolute;
		top: 0;
		color: #fff;
		width: 100%;
		height: 180px;
		.status-label {
			position: absolute;
			width: 8rem;
			height: 1.5rem;
			margin: auto;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
	}
	.widget-social {
		position: absolute;
		bottom: 0;
		a {
			color: #fff;
			&:hover {
				color: #e6e6e6;
			}
		}
		i {
			font-size: 20px;
		}
	}

	.widget-img {
		height: 180px;
		overflow: hidden;
		img {
			width: 105%;
		}
		a img:hover {
			opacity: .85;
		}
		@include breakpoint(small only) {
			overflow: hidden;
			height: auto;
			img {
				width: 200%;
			}
		}
	}
	
	.widget-body {
		padding: 10px 0 15px 0;
		p {
			font-size: 18px;
			line-height: 25px;
			font-weight: 700;
			font-family: $condensed;
			margin-bottom: 0;
			a {
				color: #0A0A0A;
			}
			&:hover a {
				color: #000;
				text-decoration: underline;
			}
		}
		@include breakpoint(small only) {
			p {
				a {
					font-size: .8rem !important;
				}
			}
		}
	}
	.widget-footer {
		p {
			border-top: 1px solid #D8D8D8;
			border-bottom: 1px solid #D8D8D8;
			font-size: 17px;
			font-family: $condensed;
			font-weight: 700;
			padding: 5px 0;
			margin-bottom: 0;
			a {
				color: #0A0A0A;
			}
			&:hover a {
				text-decoration: underline;
			}
		}
		span {
			font-size: 11px;
			font-style: italic;
			font-family: $sans;
			a {
				color: #979797;
			}
			&:hover a {
				text-decoration: underline;
			}
		}
	}
	// Gradient
	&.gradient {
		.widget-img {
			overflow: hidden;
			display:inline-block;
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 40%, rgba(0,0,0,0.85) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(03,rgba(0,0,0,0.85)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 40%,rgba(0,0,0,0.85) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, rgba(0,0,0,0) 40%,rgba(0,0,0,0.85) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, rgba(0,0,0,0) 40%,rgba(0,0,0,0.85) 100%); /* IE10+ */
			background: linear-gradient(to bottom, rgba(0,0,0,0) 40%,rgba(0,0,0,0.85) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
			img {
				position:relative;
				z-index:-1;
				display:block;
			}
			a:hover img {
				opacity: .85;
			}
		}
	}
	// Large
	&.widget-lg {
		//background-color: rgba(0,0,0,.2);
		.top-left {
			width: 70px;
			display: inline-table;
		}
		.category {
			height: 65px;
			width: 100px;
			span {
				font-size: 43px;
			}
		}
		.widget-img {
			height: 380px;
			overflow: hidden;
			width: 100%;
			img {
				width: 100%;
				height: auto;	
			}
		}
		.status-label {
			position: absolute;
			bottom: 0;
			top: 0;
			left: 0;
			right: 0;
			margin: auto;
			width: 10rem;
			height: 2.6rem;
			.label {
				display: block;
				padding: .8rem;
				text-align: center;
				font-size: 1rem;
			}
		}
		.widget-header {
			width: 100%;
			height: auto;
			.widget-social {
				float: left;
				width: 100%;
				padding-top: 10px;
				display: -webkit-flex;
				display: flex;
				position: relative;
				a {
					margin: auto;
					color: #fff;
					&:hover {
						color: #e6e6e6;
					}
				}
				i {
					font-size: 25px;
				}
			}
			.widget-date {
				float: right;
				padding: 10px;
				.day, .month {
					float: left;
					h3 {
						font-size: 37px;
						font-family: $condensed;
						font-weight: 700;
						text-transform: uppercase;
						margin: 0;
						color: $white;
					}
					p {
						font-size: 12px;
						font-family: $condensed;
						font-weight: 700;
						margin: 0;
						color: $white !important;
					}
				}
				.month {
					margin-left: 15px;
					h3 {
						margin-top: 7px;
						font-size: 32px;
					}
					p {
						color: $white;
					}
				}
			}
		}
		.widget-body {
			position: absolute;
			bottom: 0;
			color: #fff;
			padding: 10px;
			p {
				font-size: 24px;
				line-height: 36px;
				font-weight: 700;
				font-family: $condensed;
				margin-bottom: 0;
				a {
					color: #fff;
				}
				&:hover a {
					text-decoration: underline;
				}
			}
			span {
				font-size: 11px;
				font-style: italic;
				font-family: $sans;
				a {
					color: #fff;
				}
				&:hover a {
					text-decoration: underline;
				}
			}
		}
	}
	// Event
	&.event {
		.category {
			height: 35px;
			width: 47px;
			position: absolute;
			span {
				font-size: 19px;
			}
		}
		.widget-img {
			background-color: #000;
			img {
				opacity: .70;
				min-height: 180px;
			}
		}
		.widget-header {
			width: 100%;
			display: -webkit-flex;
			display: flex;
		}
		.widget-date {
			width: 100%;
			margin: auto;
			display: -webkit-flex;
			display: flex;
			&.has-end-date {
				.day {
					h3 {
						font-size: 2rem;
					}
					p {
						font-size: 2rem;
					}
				}
				.month {
					h3 {
						margin-top: 8px;
						font-size: 1.5rem;
					}
					p {
						margin-top: 7px;
						font-size: 1.5rem;
						text-transform: uppercase;
					}
					.al {
						position: absolute;
						left: 3rem;
						top: 5rem;
					}
				}
			}
			a {
				display: -webkit-flex;
				display: flex;
				width: 100%;
				color: $white;
			}
			.day, .month {
				// float: left;
				h3 {
					font-size: 37px;
					font-family: $condensed;
					font-weight: 700;
					text-transform: uppercase;
					margin: 0;
				}
				p {
					font-size: 11px;
					font-family: $condensed;
					font-weight: 700;
					margin: 0;
					color: $white !important;
				}
			}
			.day {
				margin: auto 0 auto auto;
			}
			.month {
				margin: auto auto auto 10px;
				h3 {
					margin-top: 7px;
					font-size: 32px;
				}
			}
			@include breakpoint(small only) {
				a {
					flex-direction: column;
					justify-content: center;
					.day {
						margin: auto;
						h3 {
							font-size: 1rem;
						}
						p {
							display: none;
						}
					}
					.month {
						margin: auto;
						h3 {
							font-size: 1rem;
						}
						p {
							display: none;
						}
					}
				}
				&.has-end-date {
					a {
						flex-direction: row;
						justify-content: center;
						align-content: center;
						.day {
							h3 {
								font-size: 1.2rem;
							}
							p {
								display: block;
								font-size: 1.2rem;
							}
						}
						.month {
							h3 {
								margin-top: 4px;
								font-size: 1rem;
							}
							p {
								display: block;
								margin-top: 5px;
								font-size: 1rem;
							}
							.al {
								left: 2.3rem;
							}
						}
					}
				}
			}
		}
		.widget-body p, .widget-footer span{
			text-align: center;
			display: block;
		}
		&:hover {
			// cursor: pointer;
			.widget-img img{
				opacity: .85;
			}
		}
	}
	// Single page
	&.single {
		&.widget-md {
			line-height: 0;
			.widget-body {
				width: 80%;
				padding: 25px 20px;
				top: auto;
				p {
					text-align: left;
				}
			}
		}

		.widget-img {
			height: 380px;
			width: 100%;
			overflow: hidden;
			// background-color: red;
			display:inline-block;
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 40%, rgba(0,0,0,0.85) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(03,rgba(0,0,0,0.85)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 40%,rgba(0,0,0,0.85) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, rgba(0,0,0,0) 40%,rgba(0,0,0,0.85) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, rgba(0,0,0,0) 40%,rgba(0,0,0,0.85) 100%); /* IE10+ */
			background: linear-gradient(to bottom, rgba(0,0,0,0) 40%,rgba(0,0,0,0.85) 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
			img {
				width: 100% !important;
				max-width: 100%;
				position:relative;
				z-index:-1;
				display:block;
			}
		}
		.widget-body {
			position: absolute;
			bottom: 0;
			top: 0;
			width: 100%;
			display: -webkit-flex;
			display: flex;
			p {
				text-align: center;
				padding: 0;
				line-height: 36px;
				font-size: 35px;
				font-weight: 700;
				font-family: $condensed;
				color: #fff;
				margin: auto;
			}
		}
	}
}

// Destacados
.widget-important {
	margin: 30px 0;
	.widget-header {
		height: 225px;
		width: 225px;
		margin: auto;
		border-radius: 50%;
		overflow: hidden;
		img {
			width: 100%;
		}
		a:hover img {
			opacity: 0.85;
		}
	}
	.widget-body {
		margin-top: 15px;
		a {
			color: #00CCCC;
			font-size: 14px;
			font-weight: 700;
			font-family: $sans;
			text-align: center;
			display: block;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

// Ret Utem
.widget-ret {
	border:1px solid #D8D8D8;
	padding: 15px 13px;
	.widget-header {
		height: 190px;
		overflow: hidden;
		img {
			width: 100%;
		}
		a:hover img {
			opacity: 0.85;
		}
	}
	.widget-body {
		margin-top: 10px;
		h6 {
			text-align: center;
			color: #007DD6;
			font-family: $sans;
			font-weight: 700;
			a:hover {
				text-decoration: underline;
			}
		}
		p {
			font-size: 14px;
			font-family: $sans;
			line-height: 19px;
		}
	}
}

// News
.widget-news {
	position: relative;
	line-height: 0;
	margin-bottom: 30px;
	.widget-img {
		height: 230px;
		overflow: hidden;
		// background-color: red;
		display:inline-block;
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 20%, rgba(0,0,0,0.85) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(03,rgba(0,0,0,0.85)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 20%,rgba(0,0,0,0.85) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(0,0,0,0) 20%,rgba(0,0,0,0.85) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, rgba(0,0,0,0) 20%,rgba(0,0,0,0.85) 100%); /* IE10+ */
		background: linear-gradient(to bottom, rgba(0,0,0,0) 20%,rgba(0,0,0,0.85) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
		img {
			width: 115%;
			max-width: 115%;
			position:relative;
			z-index:-1;
			display:block;
		}
		a:hover img {
			opacity: 0.85;
		}
	}
	.widget-body {
		position: absolute;
		bottom: 0;
		width: 100%;
		p {
			text-align: center;
			padding: 10px;
			line-height: 25px;
			font-size: 18px;
			font-weight: 700;
			font-family: $condensed;
			color: #fff;
			margin-bottom: 0;
			a {
				color: #fff;

			}
			a:hover {
				text-decoration: underline;
			}
		}
	}
	&.widget-gallery {
		.entry-icon {
			position: absolute;
			top: .5rem;
			bottom: auto;
			color: white;
			left: auto;
			right: .5rem;
			margin: auto;
			width: 2rem;
			height: 2rem;
			.dashicons {
				width: 1.8rem;
				height: 1.8rem;
				font-size: 1.8rem;
			}
		}
	}
}
.entry-gallery {
	&.mini-gallery {
		padding-right: 0 !important;
		margin-bottom: 1.5rem;
		.widget-news {
			margin-bottom: 1rem;
		}
		.widget-img {
			height: auto;
			img {
				width: 100%;
			}
		}
		.entry-icon {
			top: .5rem;
			bottom: auto;
			right: .5rem;
			left: auto;
		}
		.widget-body {
			p {
				font-family: $title-font;
				text-align: center;
			}
		}
	}
}
// Documents
.widget-documents {
	display: -webkit-flex;
	display: flex;
	margin-bottom: 30px;
	.widget-img {
		width: 55%;
		a:hover img {
			opacity: 0.85;
		}
	}
	.widget-body {
		width: 45%;
		margin: auto 0;
		margin-left: 25px;
		p {
			color: #007DD6;
			font-family: $sans;
			font-weight: 700;
			font-size: 14px;
			line-height: 17px;
		}
		span {
			display: inline-block;
			font-family: $sans;
			font-style: italic;
			font-size: 11px;
			color: #979797;
			line-height: 15px;
			a {
				color: #979797;
			}
			a:hover {
				text-decoration: underline;
			}
		}
	}
	&.repository {
		margin-top: 20px;
		.widget-img {
			width: 45%;
			height: 180px;
			background-color: #000;
			overflow: hidden;
			a:hover img{
				opacity: 0.9;
			}
		}
		.widget-body {
			width: 55%;
			padding-left: 15px;
			margin: 0;
			position: relative;
			p {
				margin-top: 0;
			}
			span {
				position: absolute;
				bottom: 0;
				max-width: 50%;
			}
		}
	}
}

// Single


// single header
.widget-single-header {
	display: inline-block;
	text-align: center;
	margin-top: 25px;
	width: 100%;
	ul {
		margin: 0;
		display: inline-block;
		li {
			margin: 0 25px;
			list-style: none;
			float: left;
			font-size: 14px;
			color: #007DD6;
			font-weight: 700;
			font-family: $helvetica;
			a {
				color: #007DD6;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}
