@mixin big-title {
	font-family: $title-font-alt;
	font-weight: $bold;
	font-size: rem-calc(30);
	color: $primary-color;
}
@mixin low-title {
	font-family: $title-font-alt;
	font-weight: $bold;
	font-size: rem-calc(14);
	text-transform: uppercase;
	color: $secondary-color;
}
@mixin middle-title {
	width: 25%;
	margin: 2rem auto;
	text-align: center;
	font-family: $title-font;
	color: $black-gray;
	font-size: rem-calc(20);
	border-bottom: 1px solid $medium-gray;
	span {
		position: relative;
		top: .6rem;
		padding: .5rem;
		background: $white;
	}
}
@mixin theme-gray {
	background-color: $medium-gray;
	color: $dark-gray;
	&:hover {
		background-color: $dark-gray;
		color: $white;
	}
}
@mixin theme-gray-light {
    background-color: $medium-gray;
    color: $white;
    &:hover {
        background-color: $dark-gray;
        color: $white;
    }
}
@mixin placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; } 
}
@mixin coverer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@mixin rotate($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
}
@mixin ribbon-left {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 19px solid darken($gray-dark,10);
    @include rotate(-45deg);
}
@mixin ribbon-bottom($color) {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid $color;
    @include rotate(90deg);
}

@mixin gradient-to-none($r,$g,$b) {
    background: -moz-linear-gradient(top,  rgba($r,$g,$b,0) 0%, rgba($r,$g,$b,.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba($r,$g,$b,0)), color-stop(100%,rgba($r,$g,$b,.7))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba($r,$g,$b,0) 0%,rgba($r,$g,$b,.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba($r,$g,$b,0) 0%,rgba($r,$g,$b,.7) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba($r,$g,$b,0) 0%,rgba($r,$g,$b,.7) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba($r,$g,$b,0) 0%,rgba($r,$g,$b,.7) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}