.inline-lists {
	.entry-publication {
		margin-bottom: .8rem;
		.entry-content {
			.entry-title {
				padding-bottom: 1.5rem;
				border-bottom: 1px solid $light-gray;
			}
		}
	}
}

.project-list {
	.primary-title {
		line-height: 1.2rem;
	}
	.inline-lists {
		margin-bottom: 0;
	}
}
.product-list {
	.widget {
		&.sidebar-title {
			.widget-title {
				@include big-title;
				font-size: 1.6rem;
				color: $secondary-color;
			}
		}
	}
}
.entry-publication {
	&.vertical {
		.entry-image {
			padding: 0 1rem;
			img {
				width: 100%;
			}
		}
		.entry-content {
			padding: 1rem;
			.entry-title {
				font-family: $title-font;
				font-size: 1.1rem;
				text-align: center;
				color: $black;
			}
		}
	}
}
.technologies-list {
	.entry-publication {
		&.vertical {
			.entry-image {
				padding: 0;
			}
		}
	}
}
.entry-product {
	position: relative;
	a {
		display: block;
		.entry-image {
			img {
				width: 100%;
			}
		}
		.overlay {
			@include coverer;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: rgba($black,.4);
			.entry-title {
				padding: .4rem 1rem;
				font-family: $title-font;
				color: $white;
				text-align: center;
				font-size: rem-calc(25);
			}
		}
		&:hover {
			.overlay {
				.entry-title {
					color: $secondary-color;
				}
			}
		}
	}
}

.themes {
	.vertical {
		li {
			a {
				display: inline-block;
				padding: .8rem 1.5rem;
				margin-bottom: 1rem;
				background-color: $primary-color;
				color: $white;
				border-radius: rem-calc(3);
				font-size: .9rem;
				&:hover {
					background-color: lighten($primary-color,10) !important;
				}
			}
		}
	}
}
.single {
	.article-header {
		padding-right: 4rem;
		.epigraph {
			margin-bottom: 1.5rem;
			font-family: $title-font-alt;
			font-size: rem-calc(14);
		}
		.author-info {
			margin-top: 1rem;
			.mini-title {
				margin-bottom: -.3rem;
			}
			.author {
				font-size: rem-calc(11);
				color: $dark-gray;
			}
		}
		.entry-header-title {
			position: relative;
			min-height: 180px;
			.entry-title {
				font-family: $title-font;
				font-size: rem-calc(20);
				font-weight: $bold;
				 @include vertical-align(absolute);
			}
		}
		.header-meta{
			margin-top: 1.5rem;
			border-bottom: 1px solid $medium-gray;
			.social {
				padding-right: 2rem;
			}
		}
		.meta-program {
			margin-bottom: 2rem;
			font-size: rem-calc(11);
			a {
				color: $dark-gray;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		@include breakpoint(small only) {
			padding-right: 0;
			.entry-header-title {
				min-height: 50px;
				text-align: center;
				.entry-title {
					top: 2rem;
					width: 100%;
					margin-bottom: 1rem;
				}
			}
			.buttons {
				&.float-left {
					width: 100%;
					text-align: center;
				}
			}
			.social {
				&.float-right {
					width: 100%;
					text-align: center;
					.share-buttons {
						padding-left: 5rem;
					}
				}
			}
		}
	}
	.related-books {
		padding-top: 0;
	}
}

.single-product, .single-service {
	.header-books {
		margin: 1.5rem 0;
	}
	.entry-title {
		font-family: $title-font;
		font-size: rem-calc(18);
		color: $primary-color;
	}
	p {
		font-size: rem-calc(15);
	}
	.themes {
		.vertical {
			li {
				a {
					background-color: $medium-gray;
				}
				&.active {
					a {
						background-color: $primary-color;
					}
				}
			}
		}
		@include breakpoint(small only) {
			.primary-title {
				font-size: 1.2rem;
			}
			.menu {
				li {
					display: inline-block;
					float: left; 
					margin-right: .3rem;
					a {
						padding: .5rem .8rem;
						margin-bottom: .5rem;
						font-size: .7rem;
					}
				}
			}
		}
	}
	.get {
		margin-top: 1rem;
		background-color: $medium-gray;
		color: $dark-gray;
		border-radius: .3rem;
		&:hover {
			background-color: $dark-gray;
			color: $white;
		}
	}
}


.side-navigation {
	.widget-title {

		font-size: 1.3rem;
		margin-bottom: 1rem;
		padding-bottom: .5rem;
		border-bottom: 1px solid $light-gray;
	}
	margin-top: 1.2rem;
	ul.menu {
		@include menu-direction(vertical);
		li {
			a {
				display: block !important;
				margin-bottom: .5rem;
				background-color: $dark-gray;
				color: $white;
				font-family: $title-font;
				font-size: 1.2rem;
				border-radius: 0;
				line-height: 1.5rem;
				&:hover {
					background-color: $primary-color;
				}
			}
			&.current-menu-item {
				a {
					position: relative;
					background-color: $primary-color;
					&:after {
						content: '';
						position: absolute;
						right: -12px;
						top: 0;
						bottom: 0;
						margin-top: auto;
						margin-bottom: auto;
						width: 0;
						height: 0;
						border-style: solid;
						border-width: 7.5px 0 7.5px 15px;
						border-color: transparent transparent transparent $primary-color;
					}
				}
			}
		}
	}
}
.entry-person {
	margin-bottom: 1rem;
	padding: 1rem;
	.img {
		&.round {
			img {
				border-radius: 50%;
			}
		}
	}
	.entry-title {
		margin-top: .5rem;
		margin-bottom: .5rem;
		text-align: center;
		font-family: $title-font;
	}
	.position {
		display: block;
		font-size: .9rem;
		font-style: italic;
		text-align: center;
		color: $dark-gray;
	}
	.mail {
		display: block;
		text-align: center;
		a {
			font-size: .9rem;
		}
	}
	.entry-summary {
		padding-top: .5rem;
		font-size: .8rem;
		font-style: italic;
		p {
			line-height: 1.4rem;
		}
	}
	@include breakpoint(small only) {
		.img {
			text-align: center;
		}
	}
}
