@mixin big-title {
	font-family: $title-font-alt;
	font-weight: $bold;
	font-size: rem-calc(30);
	color: $primary-color;
}
@mixin low-title {
	font-family: $title-font-alt;
	font-weight: $bold;
	font-size: rem-calc(14);
	text-transform: uppercase;
	color: $secondary-color;
}
@mixin middle-title {
	width: 25%;
	margin: 2rem auto;
	text-align: center;
	font-family: $title-font;
	color: $black-gray;
	font-size: rem-calc(20);
	border-bottom: 1px solid $medium-gray;
	span {
		position: relative;
		top: .6rem;
		padding: .5rem;
		background: $white;
	}
}
@mixin theme-gray {
	background-color: $medium-gray;
	color: $dark-gray;
	&:hover {
		background-color: $dark-gray;
		color: $white;
	}
}
@mixin green-button {
    background: $secondary-color;
    text-transform: uppercase;
    border-radius: .2rem;
    &:hover {
        background: darken($secondary-color, 10);
    }
}
@mixin line-button {
    position: relative;
    top: -1.3rem;
    box-shadow: 5px 5px 0 $white, -5px -5px 0 $white;
    border-radius: rem-calc(3);
}
@mixin mini-title {
    font-family: $body-font-family !important;
    color: $primary-color !important;
    font-size: rem-calc(10) !important;
    text-transform: uppercase !important;
    font-weight: $bold !important;
}
@mixin gray-button {
    background: $medium-gray;
    text-transform: uppercase;
    border-radius: .2rem;
    &:hover {
        background: $secondary-color;
    }
}

@mixin themes {
    li {
        a {
            display: block;
            padding: .8rem 1rem;
            margin-bottom: 1rem;
            background-color: $medium-gray;
            color: $white;
            border-radius: rem-calc(3);
            font-size: rem-calc(12);
            &:hover {
                background-color: $primary-color;
            }
        }
    }
}
@mixin theme-gray-light {
    background-color: $medium-gray;
    color: $white;
    &:hover {
        background-color: $dark-gray;
        color: $white;
    }
}
@mixin placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; } 
}
@mixin coverer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@mixin rotate($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
}
@mixin ribbon-left {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 19px solid darken($gray-dark,10);
    @include rotate(-45deg);
}

@mixin gradient-to-none($r,$g,$b) {
    background: -moz-linear-gradient(top,  rgba($r,$g,$b,0) 0%, rgba($r,$g,$b,.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba($r,$g,$b,0)), color-stop(100%,rgba($r,$g,$b,.7))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba($r,$g,$b,0) 0%,rgba($r,$g,$b,.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba($r,$g,$b,0) 0%,rgba($r,$g,$b,.7) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba($r,$g,$b,0) 0%,rgba($r,$g,$b,.7) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba($r,$g,$b,0) 0%,rgba($r,$g,$b,.7) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
@mixin gradient-to-none-bottom($r,$g,$b) {
    background: -moz-linear-gradient(bottom,  rgba($r,$g,$b,0) 0%, rgba($r,$g,$b,.7) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,rgba($r,$g,$b,0)), color-stop(100%,rgba($r,$g,$b,.7))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(bottom,  rgba($r,$g,$b,0) 0%,rgba($r,$g,$b,.7) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(bottom,  rgba($r,$g,$b,0) 0%,rgba($r,$g,$b,.7) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(bottom,  rgba($r,$g,$b,0) 0%,rgba($r,$g,$b,.7) 100%); /* IE10+ */
    background: linear-gradient(to top,  rgba($r,$g,$b,0) 0%,rgba($r,$g,$b,.7) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}