.page-template-template-contenido-php .tooltip {
	word-wrap: break-word;
	width: 20rem !important;
}
.main-content {
	.themes {
		.vertical {
			li {
				a {
					display: inline-block;
					padding: .8rem 1.5rem;
					margin-bottom: 1rem;
					background-color: $primary-color;
					color: $white;
					border-radius: rem-calc(3);
					font-size: .9rem;
					&:hover {
						background-color: lighten($primary-color,10);
					}
				}
			}
		}
	}
	.entry-gallery {
		margin-bottom: 2rem;
		a {
			&:hover {
				img {
					opacity: .8;
				}
			}
		}
	}
}
.entry-article {
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid $medium-gray;
	.author {
		font-size: rem-calc(11);
	}
}
.edition-list {
	.entry-edition {
		margin-bottom: 1.4rem;
		.entry-title {
			margin: 1rem 0;
			font-family: $title-font;
			font-size: rem-calc(18);
		}
		.magazine-buttons {
			.button {
				font-size: .8rem;
				&:first-child {
					margin-right: 1rem;
				}
			}
		}
	}
}
.author-info-meta {
	position: relative;
	background: lighten($light-gray,5);
	padding: 1.5rem;
	border-bottom: 3px solid $dark-gray;
	border-top: 1px solid $medium-gray;
	.close-button {
		position: absolute;
		top: .5rem;
		right: .5rem;
	}
	.entry-author {
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		border-bottom: 1px solid $light-gray;
		.entry-title {
			font-family: $title-font-alt;
		}
		p {
			font-size: rem-calc(12);
			color: $dark-gray;
		}
		.meta-author {
			font-size: .8rem;
		}
	}
}
.admin-bar {
	.local-navigation {
		top: 10px !important;
	}
}
.local-navigation {
	height: 86vh;
	overflow-y: auto;
	.local-nav {
		li {
			a {
				.xs {
					font-size: .8rem;
				}
			}
		}
	}
}
.single-article {
	.sidebar {
		padding-left: 1rem;
		.vertical {
			li {
				a {
					display: block !important;
				}
			}
		}
	}	
}
.single {

	.article-header {
		padding-right: 4rem;
		.epigraph {
			margin-bottom: 1.5rem;
			font-family: $title-font-alt;
			font-size: rem-calc(14);
		}
		.author-info {
			margin-top: 1rem;
			.mini-title {
				margin-bottom: -.3rem;
			}
			.author {
				font-size: rem-calc(11);
				color: $dark-gray;
			}
		}
		.entry-title {
			font-family: $title-font;
			font-size: rem-calc(20);
			font-weight: $bold;
		}
		.buttons {
			.author-button {
				&.active {
					@include green-button;
				}
			}
		}
		.header-meta{
			margin-top: 1.5rem;
			border-bottom: 1px solid $medium-gray;
			.social {
				position: relative;
				padding-right: 2rem;
				width: 20rem;
				.shortlink {
					.clipboard-status {
						position: absolute; 
						top: 3.5rem;
						.success {
							background: $black;
							color: $white;
							padding:.3rem;
							font-size: .8rem;
						}
						.error {
							background: $alert-color;
							color: $white;
							padding:.3rem;
							font-size: .8rem;
						}
					}
					input {
						background: $light-gray;
						color: $dark-gray;
						border: 0;
						font-size: .9rem;
					}
				}
				@include breakpoint(small only) {
					width: 95%;
				}
			}
		}
	}

	.related-books {
		padding-top: 0;
	}
	@include breakpoint(small only) {
		.article-header {
			padding-right: 0;
		}
	}
	@include breakpoint(small only) {
		.sitcky-container {
			display: none;
		}
		.widget {
			&.editions {
				a {
					margin: 1rem auto;
				}
			}
		}
	}
}
#searchform {
	position: relative;
	.advanced-search {
		position: absolute;
		top: .5rem;
		right: 3.5rem;
		z-index: 90;
		cursor: pointer;
		border-bottom: 0;
	}
}
.line {
	margin-top: 1rem;
	clear: both;
	border-top: 1px solid $medium-gray;
	text-align: center;
	.line-button {
		@include green-button;
		@include line-button;
	}
}
.entry-article {
	.entry-image {
		position: relative;
		.wrap {
			@include coverer;
			@include gradient-to-none(0,0,0);
			.social {
				position: absolute;
				left: .3rem;
				bottom: .3rem;
				a {
					color: $white;
					&:hover {
						color: $medium-gray;
					}
				}
			}
			.link-entry {
				color: $white;
				.dashicons {
					position: absolute;
					margin: auto;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					font-size: 1.5rem;
					width: 1.5rem;
					height: 1.5rem;
					text-shadow: 0 1px 0 $black;
				}
				&:hover {
					color: $primary-color;
				}
			}
		}
	}
	.entry-title {
		margin-top: 1rem;
		font-family: $title-font;
		font-weight: $bold;
		font-size: rem-calc(18);
		a {
			color: $black;
			&:hover {
				color: $medium-gray;
			}
		}
	}
}
.fidelizador-embed {
	border: 0;
}
.page-meta {
	.meta-title {
		font-family: $title-font;
		font-size: rem-calc(20);
		text-transform: uppercase;
		font-weight: $bold;
		.dashicons {
			margin-left: -2.3rem;
			font-size: 2rem;
			width: 2rem;
			height: 2rem;
		}
	}
	h4 {
		font-size: rem-calc(15);
		font-weight: $bold;
	}
	h6 {
		font-size: rem-calc(11);
		color: $dark-gray;
	}
	p {
		font-size: rem-calc(12);
	}
}
.magazine-list {
	.book-details {
		padding-left: 1rem !important;
		border-left: 0;
		.entry-title {
			font-family: $title-font;
			font-size: rem-calc(18);
			font-weight: $bold;
			color: $primary-color;
		}
	}
}

.magazine-meta {
	margin-top: .5rem;
	ul {
		li {
			font-size: rem-calc(13);
			strong {
				@include mini-title;
			}
		}
	}
}
.entry-publication {
	padding-bottom: 2rem;
	.content {
		padding-left: 1rem !important;

		.entry-title {
			margin-bottom: 1rem;
			font-family: $title-font;
			font-size: rem-calc(13);
			font-weight: $bold;
		}
		.button {
			display: block;
			width: 80%;
			@include gray-button;
			font-size: .6rem;
			font-weight: $bold;
		}

	}
	.disclaimer {
		padding-top: .5rem;
		margin-top: .5rem;
		border-top: 1px solid $medium-gray;
		font-size: rem-calc(9);
		color: $dark-gray;
		font-style: italic;
	}
}
.entry-last-magazine {
	position: relative;
	.content-box {
		@include coverer;
		@include gradient-to-none-bottom(0,0,0);
		.entry-title {
			position: absolute;
			top: .5rem;
			left: .5rem;
			font-family: $title-font;
			font-weight: $bold;
			font-size: rem-calc(18);
			color: $white;
		}
		.magazine-buttons {
			position: absolute;
			bottom: -.5rem;
			left: .5rem;
			.button {
				@include green-button;
				padding: .8rem .85rem;
				&:first-child {
			        margin-right: .5rem;
			    }
			}
		}
	}
}
.entry-magazine {
	padding: 1rem;
	border: 1px solid $light-gray;
	a {
		.entry-title {
			margin-top: 1rem;
			font-size: rem-calc(14);
			text-transform: uppercase;
			font-weight: $bold;
		}
		.entry-summary {
			font-size: rem-calc(14);
			color: $dark-gray;
		}
		&:hover {
			.entry-title {
				color: $secondary-color;
			}
			img {
				opacity: .8;
			}
		}
	}
}
.entry-publication {
	margin-top: 1rem;
	a {
		.entry-title {
			font-family: $title-font;
			font-size: rem-calc(18);
			font-weight: $bold;
			color: $black;
		}
		&:hover {
			img {
				opacity: .8;
			}
			.entry-title {
				color: $primary-color;
			}
		}
	}
	.categories {
		margin-top: 1rem;
		border-top: 1px solid $light-gray;
		a {
			font-style: italic;
			font-size: rem-calc(11);
			color: $dark-gray;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.home {
	.footer-left {
		@include breakpoint(small only) {
			.widget_text {
				img {
					width: 40%;
					margin-bottom: 1rem;
				}
			}
		}
	}
	.widget {
		&.links {
			@include breakpoint(small only) {
				.column {
					margin-bottom: 1rem;
				}
			}
		}
		&.news {
			@include breakpoint(small only) {
				.small-up-2 {
					.column {
						@include grid-column-size(100%);
					}
				}
			}
		}
	}
}
.widget {
	&.img {
		&.simple {
			padding: 0;
			border: none;
		}
	}
}
.issn-line {
	display: block;
	margin-top: -3rem;
	padding-left: 1.4rem;
	font-size: .7rem;
	.title {
		margin-right: .3rem;
		color: $primary-color;
		text-transform: uppercase;
	}
	.number {
		margin-right: .3rem;
	}
}
.search-resume {
	margin-bottom: 1rem;
	padding: .5rem;
	border-top: 1px solid $light-gray;
	border-bottom: 1px solid $light-gray;
	font-size: .9rem;
	text-transform: uppercase;
	color: $dark-gray;
	.item {
		margin: 0 .5rem;
		&:after {
			content: ' | ';
			margin-left: .5rem;
		}
		&:last-child {
			&:after {
				content: '';
			}
		}
	}
}
.search-form {
	position: relative;
	.advanced-search-form {
		position: absolute;
		padding: 3rem 1rem 1rem 1rem;
		width: 25rem;
		top: 4rem;
		right: 0;
		z-index: 9999;
		background-color: $white;
		box-shadow: 1px 1px 13px 1px $medium-gray;
		.form-popup {
			.row {
				.with-description {
					input {
						margin-bottom: 0;
					}
					small {
						display: block;
						color: $dark-gray;
						margin-bottom: 1rem;
					}
				}
			}
		}
	}
}
.horizon {
	@include breakpoint(small only) {
		margin-top: 1rem;
	}
}
.share-buttons {
	.tw {
		top: .3rem;
	}
}
.smaller-text {
	font-size: .8rem;
}
.send_by_mail_button {
	position: absolute;
	left: -2rem;
	top: .4rem;
}
.reveal {
	position: fixed;
	top: 0 !important; bottom: 0;
	left: 0 !important; right: 0;
	margin: auto;
	height: 520px;
	max-height: 520px !important;
	.info-article {
		padding: 1rem;
		margin-bottom: 1rem;
		background: $light-gray;
	}
}

.main-header .gob-logo .searchform #s {
	@include placeholder {
		color: $primary-color;
	}
}