.postitulos {
	background-color: $postitle;
}
.diplomados {
	background-color: $diplomat;
}
.cursos {
	background: $course;
}
.entry-header {
	.program-type {
		display: inline-block;
		min-width: 20rem;
	}
}
.program-type {
	.program-type-name {
		position: relative;
		padding: .5rem 2rem;
		margin-bottom: 1.5rem;
		font-family: $title-font;
		font-weight: $bold;
		text-transform: uppercase;
		color: $white;
		&.postitulos {
			&:after {
				@include ribbon-bottom($postitle);
				top: 44px;
				left: 25px;
				@include breakpoint(small only) {
					top: 35px;
				}
			}
		}
		&.diplomados {
			&:after {
				@include ribbon-bottom($diplomat);
				top: 44px;
				left: 25px;
				@include breakpoint(small only) {
					top: 35px;
				}
			}
		}
		&.cursos {
			&:after {
				@include ribbon-bottom($course);
				top: 44px;
				left: 25px;
				@include breakpoint(small only) {
					top: 35px;
				}
			}
		}
	}
	.program-select {
		background-color: $light-gray;
		font-size: .8rem;
		text-transform: uppercase;
	}
}

.home {
	.topic-list {
		.themes {
			&>div {
				margin-left: -1rem;
			}
		}
	}
	@include breakpoint(small only) {
		.main-content {
			padding-top: 0 !important;
			.program_list {
				.primary-title {
					font-size: 1.3rem;
				}
				.all {
					padding-top: .3rem;
				}
			}
			.inline-lists {
				.entry-publication {
					margin-bottom: 1rem;
				}
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
		.sidebar-home-2 {
			&>.small-up-2 {
				@include grid-layout(1);
				.widget {
					margin-bottom: 1.5rem;
				}
			}
		}
	}
}
.share-buttons {
	.tw {
		top: .3rem;
	}
}
.entry-topic {
	position: relative;
	margin-bottom: 1.5rem;
	a {
		color: $white;
		img {
			width: 100%;
		}
		.wrap-content {
			.entry-title {
				padding: .2rem;
				bottom: .5rem;
				left: .5rem;
				font-family: $title-font;
				color: $black;
				font-size: rem-calc(14);
				text-align: center;
			}
		}
	}
}

.single {
	.article-header {
		padding-right: 4rem;
		.epigraph {
			margin-bottom: 1.5rem;
			font-family: $title-font-alt;
			font-size: rem-calc(14);
		}
		.author-info {
			margin-top: 1rem;
			.mini-title {
				margin-bottom: -.3rem;
			}
			.author {
				font-size: rem-calc(11);
				color: $dark-gray;
			}
		}
		.entry-header-title {
			position: relative;
			min-height: 180px;
			.entry-title {
				font-family: $title-font;
				font-size: rem-calc(20);
				font-weight: $bold;
				 @include vertical-align(absolute);
			}
		}
		.header-meta{
			margin-top: 1.5rem;
			border-bottom: 1px solid $medium-gray;
			.social {
				padding-right: 2rem;
			}
		}
		.meta-program {
			margin-bottom: 2rem;
			font-size: rem-calc(11);
			a {
				color: $dark-gray;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		@include breakpoint(small only) {
			padding-right: 0;
			.entry-header-title {
				min-height: 50px;
				text-align: center;
				.entry-title {
					top: 2rem;
					width: 100%;
					margin-bottom: 1rem;
				}
			}
			.buttons {
				&.float-left {
					width: 100%;
					text-align: center;
				}
			}
			.social {
				&.float-right {
					width: 100%;
					text-align: center;
					.share-buttons {
						padding-left: 5rem;
					}
				}
			}
		}
	}
	.related-books {
		padding-top: 0;
	}
}
.info-box {
	margin-bottom: 1.5rem;
}
.program-form {
	border: 1px solid $medium-gray;
	padding: 1rem;
	.form-title {
		font-size: rem-calc(15);
		font-weight: $bold;
		margin-bottom: 1rem;
	}
	.bottom-info {
		font-size: rem-calc(13);
	}
}
.entry-program {
	margin-bottom: 2rem;
	img {
		width: 90%;
		border-radius: 50%;
		margin-bottom: .5rem;
	}
	.entry-title {
		line-height: 1.5rem;
		a {
			font-family: $title-font;
			font-weight: $bold;
			font-size: rem-calc(17);
			color: $black;
			&:hover {
				color: $primary-color;
			}
		}
	}
	.program-topic {
		margin-top: 1rem;
		border-top: 1px solid $medium-gray;
		a {
			font-style: italic;
			color: $dark-gray;
			font-size: rem-calc(11);
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.program_list {
	.primary-title {
		margin-bottom: 1.5rem;
	}
	.all {
		padding-top: 1.3rem;
	}
}
.topic-list {
	.menu {
		.active {
			a {
				background-color: $dark-gray !important;
			}
		}
	}
	.entry-topic {
		img {
			border-radius: 50%;
		}
	}
}
.archive {
	.sidebar {
		border-left: 0;
		padding-left: 1rem;
		.themes {
			margin-bottom: 2rem;
			.vertical {
				li {
					margin-bottom: .8rem;
					a {
						padding: .6rem 1rem;
						font-size: 1rem;
						background-color: darken($primary-color,10);
						&:hover {
							background: $dark-gray;
						}
					}
				}
			}
		}
	}
}
.entry-header {
	.tax-title {
		font-family: $title-font;
		font-size: rem-calc(24);
		font-weight: $bold;
	}
}
.widget {
	&.news {
		.widget-title {
			font-size: 1.1rem;
		}
	}
	&.program_list {
		.program-type {
			.program-type-name {
				a {
					color: $white;
					&:hover {
						color: $medium-gray;
					}
				}
				font-size: rem-calc(20);
				&::after {
					top: 37px;
				}
			}
		}
	}
}